@import 'variables_fuentes_color_bordes.css';
/*
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 / 114 / 132

-Font Weights
Default: 400
Semi-Bold: 600


--- 02 Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 160 / 192 / 224 / 256

--- 03 Boder radius

Small: 4px
Medium: 8px

*/
/* Importar variables desde el archivo de variables */

/* **************** Base Styles ******************* */
/* Estilos básicos para todo el documento */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body[data-theme="dark"] {
  background-color: var(--color-paleta1);
  background-image: url(../images/background/bk.jpg);
  font-size: 2em;
}


/* Estilos para el cuerpo del documento */
body {
  background-color: var(--color-paleta1);
  background-image: url(../images/background/bk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* Ajusta la imagen para cubrir todo el fondo */
  color: var(--color-primertexto);
  font-family: var(--font-primary);
  /* Tamaño base de la fuente */
  font-weight: 400;
  overflow-x: hidden;
  transition: background-color 0.9s, color 0.3s;
  /* Transiciones para tema claro/oscuro */
  font-size: 2em;
}

/* Estilos para listas */
li {
  list-style: none;
}

/* Contenedores generales */
.container {
  margin: 0 auto;
  max-width: 180em;
  width: 100%;
  font-size: var(--size-texto);
}

/* Contenedor con aumento de tamaño */
.container__aumentotamano {
  align-items: stretch;
  justify-content: space-evenly;
  transition: transform 0.8s ease;
  /* Agrega una transición suave */
}

.container__aumentotamano:hover {
  transform: scale(1.1);
}

/* Contenedor con tamaño medio */
.container__medio {
  margin: 0 auto;
  max-width: 80%;
  width: 85%;
}

/* Estilos para cajas de descripción */
.description-box .slide-left {
  animation-delay: 1s;
}

/* Sección oculta */
.section--hidden {
  opacity: 0;
  transform: translateY(var(--size8em));
  /* Ajustar según las variables */
}

/* Contenedor con padding */
.container__padd {
  padding: var(--size8_6em) 0;
}

/* **************** Text ******************* */
/* Estilos para el texto */
.text {
  font-size: var(--size1_4em);
  line-height: var(--size1_4em);
}

/* **************** Flex ******************* */
/* Estilos para flexbox en filas */
.flex-row {
  display: flex;
}

.flex-row-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Estilos para flexbox en columnas */
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex__col__center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.flex__col__stretch {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

/* Estilos para iconos sociales */
.social-links {
  align-items: center;
  display: flex;
  gap: var(--size15em);
  justify-content: space-between;
}

/* Estilos para enlaces sociales laterales */
.side__social__links__side {
  flex-direction: column;
}

.side__social__links__side::after {
  background-color: var(--color-tertiary);
  content: "";
  display: block;
  height: var(--size15em);
  margin: 0 auto;
  width: 1px;
}

.social-link {
  padding: var(--size06em);
}

/* Estilos para iconos sociales */
.social-icon {
  color: var(--color-secondary);
  font-size: var(--size1_4em);
  transition: transform 0.3s;
}

.social-icon:hover,
.social-icon:active {
  transform: translateY(var(--size-5em));
}

/* Selectores de idioma y tema */
.language-selector,
.theme-selector {
  cursor: pointer;
  padding: var(--size1em);
}

/* Estilos para el tema oscuro */
.dark-theme {
  background-color: #2c3e50;
  /* Color de fondo oscuro */
  color: #ecf0f1;
  /* Color de texto para el tema oscuro */
}

/* Estilos para iframe */
iframe {
  border: none;
  box-shadow: 0px 0px var(--size1em) var(--size3em) rgba(0, 0, 0, 0.2), 0px var(--size5em) var(--size5em) var(--size5em) rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

iframe:hover {
  box-shadow: 0px 0px var(--size15em) var(--size5em) rgba(0, 0, 255, 0.5), 0px var(--size5em) var(--size1em) var(--size5em) rgba(0, 0, 255, 0.3);
}

/* Estilos para secciones */
section {
  border: none;
  box-shadow: 0px 0px var(--size1em) var(--size3em) rgba(0, 0, 0, 0.2), 0px var(--size5em) var(--size5em) var(--size5em) rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

section:hover {
  box-shadow: 0px 0px var(--size15em) var(--size5em) rgba(183, 183, 234, 0.5), 0px var(--size5em) var(--size1em) var(--size5em) rgba(0, 0, 255, 0.3);
}

/* **************** Animations ******************* */
/* Animación de entrada por deslizamiento */
@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Aplicación de animación de entrada */
.slide-in {
  animation: slidein 1s ease-out;
}

/* Corrección de desbordamiento en la sección de BI */
#proyectos {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Estilo para contenedor de proyectos */
.project {
  margin-bottom: var(--size2em);
}