.slider {
    overflow: hidden;
    position: relative;
    width: 60%;
    height: auto;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
}

.slide svg {
    width: 100%;
    height: auto;
}

.slide img {
    width: 50%;
    height: auto;
}

.slider-controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 1;
}

.prev-btn,
.next-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: #180a55;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(25, 16, 150, 0.7);
}