:root {
    --color-surface: #9acbff;
    --color-on-surface: #1a1c1e;
    --color-surface-variant: #dee3eb;
    --color-on-surface-variant: #42474e;
    --color-primary: #00629e;
    --color-on-primary-container: #001d34;
    --color-secondary: #526070;
    --color-tertiary: #9acbff;
    --color-on-tertiary-container: #f0dbff;
    --body-font: "Roboto", sans-serif, "Montserrat", sans-serif, "Playwrite US Trad", cursive, "Roboto Condensed", sans-serif;
    --border-radius-md: 0.8em;
    --border-radius-sm: 0.8em;
}

html[data-theme="dark"] {
    --color-surface: #0b1e31;
    --color-on-surface: #e2e2e5;
    --color-surface-variant: #42474e;
    --color-on-surface-variant: #c2c7cf;
    --color-primary: #9acbff;
    --color-on-primary-container: #cfe5ff;
    --color-secondary: #bac8da;
    --color-tertiary: #d4bee5;
    --color-on-tertiary-container: #f0dbff;
    --body-font: "Roboto Condensed", sans-serif, "Roboto", sans-serif, "Montserrat", sans-serif, "Playwrite US Trad", cursive;
    --border-radius-md: 0.4em;
    --border-radius-sm: 0.8em;
}


/* **************** HEADER ******************* */

.section-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo-link {
    padding: 1rem;
}

.logo-link img {
    width: 72px;
}

.main-nav-link {
    color: var(--color-on-surface-variant);
    font-size: 2.2rem;
}

.main-nav-link:hover {
    font-weight: bold;
}

.main-nav-link:hover span {
    color: var(--color-secondary);
    transition: all 0.4s;
    font-weight: normal;
}

.nav {
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.nav-menu {
    position: fixed;
    top: -100%;
    left: 50%;
    width: 95%;
    background-color: var(--color-surface-variant);
    padding: 2rem;
    border-radius: var(--border-radius-md);
    transform: translate(-50%);
    transition: all 0.4s;
}

.nav-menu li:hover {
    background-color: #576a76;
}

.show-menu .nav-menu {
    top: 10%;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.nav-icon[name="close-outline"] {
    display: none;
}

.show-menu .nav-icon[name="menu-outline"] {
    display: none;
}

.show-menu .nav-icon[name="close-outline"] {
    display: block;
}


/* ******** HERO TITLE ********** */

.section-home {
    padding: 2rem 1rem;
    height: 100vh;
    width: 100%;
}

.hero {
    color: var(--color-on-surface);
}

.hero-text-box {
    gap: 3rem;
}

.hero-main-title-box {
    font-size: 2rem;
}

.enter-text {
    font-size: 2.6rem;
}

.hero-subheading {
    margin-top: 1rem;
    font-weight: 400;
    color: var(--color-secondary);
}

.animate-subheading {
    color: var(--color-primary);
}

.description-box {
    padding: 0.5rem 0;
    opacity: 0;
    /* For the animation */
}

.description-box a {
    margin-top: 2.4rem;
}


/************* ABOUT SECTION **************/

.section-about {
    padding: 9rem 1rem;
}

.about-box--text .link {
    margin-top: 3.5rem;
}

.about-me-text {
    text-align: start;
    gap: 2.5rem;
    color: var(--color-on-surface);
}

.about-img {
    width: 100%;
    border-radius: var(--border-radius-md);
}

.about-box {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4rem;
}


/************* SKILLS SECTION **************/

.fullstack-skills {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    transition: all 0.4s;
}

.skills-group {
    padding: 2.4rem;
    background-color: var(--color-surface-variant);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}

.skills-title {
    color: var(--color-primary); 
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.skills-data-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 1.2rem 1.6rem;
}

.skills-data-box {
    display: flex;
    align-items: stretch;
    justify-items: stretch;
    gap: 1.2rem 1.6rem;
}

.skills-data-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.skills-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-name img {
    width: 100px; /* Ajusta este valor según tus necesidades */
    height: 100px; /* Ajusta este valor según tus necesidades */
    object-fit: contain;
    margin-bottom: 0.5rem;
}
.skills-name p {
    margin: 0;
    font-size: 1rem;
}

.other-skills-list {
    list-style: none;
    padding: 0;
    animation: fadeInLeft 0.5s forwards;
}

.other-skills-item {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    gap: 1rem;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.5s ease;
}

.other-skills-item:hover {
    transform: translateX(0);
    opacity: 1;
}

.other-skills-item:nth-child(1) {
    animation-delay: 0.1s;
}

.other-skills-item:nth-child(2) {
    animation-delay: 0.2s;
}

.other-skills-item:nth-child(3) {
    animation-delay: 0.3s;
}

.other-skills-item:nth-child(4) {
    animation-delay: 0.4s;
}

.other-skills-item:nth-child(5) {
    animation-delay: 0.5s;
}

.other-skills-icon {
    font-size: 2rem;
    color: var(--color-primary);
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Aplicar animación al cargar la sección */

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    /* Color de las estrellas */
    animation: twinkle 5s infinite alternate;
}

@keyframes twinkle {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(-100vh);
    }
}


/************* WORKS SECTION **************/

.section-works {
    transition: all 0.4s;
}

.works-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 1rem;
    padding: 1rem 0;
    align-items: stretch;
}

.work {
    padding: 1rem;
    border-radius: var(--border-radius-sm);
    background-color: var(--color-surface-variant);
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    color: var(--color-on-surface);
    align-items: center;
    justify-content: space-between;

}

.work img {
    width: 200px; 
    height: 200px; 
    object-fit: contain;
    margin-bottom: 0.5rem;

}
.image-container img {
    width: 200px; 
    height: 200px; 
    object-fit: contain;
    margin-bottom: 0.5rem;

}

.work-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

.work-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.work-tags-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.6rem;
    font-weight: 600;
    color: var(--color-tertiary);
}

.work-links {
    width: 100%;
    display: flex;
    justify-content: center;
}

.work-links-list {
    display: flex;
    justify-content: space-around;
    gap: 6rem;
}

.work-link {
    font-size: 2.8rem;
    color: var(--color-on-surface);
}

.see-more-btn-box {
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;
}


/************* CONTACT SECTION **************/

.section-contact {
    padding: 9.6rem 0 0 0;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    text-align: center;
}

.contact-title {
    color: var(--color-primary);
    font-size: 3.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.contact-info-container:first-child {
    width: 70%;
    margin: 0 auto;
}

.contact-info-container .text {
    width: 80%;
    margin: 0 auto;
}


/************* CONTACT SECTION **************/

.section-footer {
    padding-top: 4.8rem;
    margin-bottom: 1.2rem;
}

.footer social-links {
    width: 50%;
    margin: 0 auto;
    transition: width 0.4s;
}

.copyright {
    margin-top: 4.8rem;
    text-align: center;
}

#eula-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

#eula-list li {
    display: inline-block;
    margin-right: 5px;
    border-right: 1px solid #000;
    padding-right: 5px;
    font-size: small;
}

#eula-list li a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

#eula-list li:last-child {
    border-right: none;
}

#eula-list li a:hover {
    color: var(--color-primary);
}

.roboto-condensed-con {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.playwrite-us-trad-u {
    font-family: "Playwrite US Trad", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}