.pagina__marco {
  margin: 0;
  padding: 20px; /* Espacio que actuará como el "marco" */
  background-color: #f0f0f0; /* Color de fondo del marco */
  background-image: url("../../../imagenes/marco3.webp"); /* Imagen de fondo del marco */
  background-size: 125% 150%; /* Hace que la imagen cubra todo el área */
  background-position: center; /* Centra la imagen */
  min-height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo del contenido dentro del marco */
.contenido__pagina {
  padding: 10px; /* Espaciado interior */

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  max-width: 95%;
  margin: auto;
}
