.whatsappButton {
    background-image: url('https://th.bing.com/th/id/OIP.DHhrBGoy7wWj4LYNVHU5rQAAAA?rs=1&pid=ImgDetMain');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    cursor: pointer;
    display: block;
    filter: grayscale(100%);
    height: 15px;
    transition: transform 0.3s;
    width: 30px;
    align-items: end;
    align-content: end;
    text-align: right;
}

.whatsappButton:hover {
    transform: scale(1.1);
}

.whatsappButton i {
    display: none;
}

.whatsappButton p {
    margin: 5;
    display: inline;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-content: end;
}

button:focus {
    outline: none;
}