:root {

  /* Colores adicionales */
  --color-paleta1: #03045E;
  --color-paleta2: #0077B6;
  --color-paleta3: #00B4D8;
  --color-paleta4: #90E0EF;
  --color-paleta5: #CAF0F8;
}


body {
  font-size: 62.5%;
  /* 300px */
  max-width: 100%;
  width: 100%;
  background: linear-gradient(18deg, rgba(4, 37, 78, 1) 3%, hsl(243, 73%, 35%) 20%, rgba(89, 84, 164, 1) 60%, rgba(138, 213, 235, 1) 100%);
  color: var(--color-paleta5);
  margin: 10px, 0px;
  padding: 0px;

}

/* Main container adjustments */
#business-intelligence {

  padding: 0.2em;
  /* 10px */
  background-color: inherit;
  color: var(--color-paleta5);

}


.container {
  color: var(--color-paleta5);
  display: flex;
  flex-flow: row wrap;
  border: 1px solid var(--color-paleta1);
  justify-content: space-evenly;

  align-content: baseline;
  margin: 0px 0px;
  padding: 0px 0px;
  gap: 0.2rem;

}



.container__elementoprincipal {
  border: 1px solid var(--color-paleta3);
  border-radius: 2em;
  box-shadow: 0 0 1em var(--color-negro-azabache);
  flex-grow: 7;
  height: 100%;
  max-width: 70%;
  flex-flow: column wrap;

}

.container__elemento {

  border: 1px solid var(--color-paleta3);
  border-radius: 2em;
  box-shadow: 0 0 1em var(--color-negro-azabache);
  margin: .2em 0em;
  padding: .2em 0;
  width: 10rem;
  max-height: 90%;
  height: 70%;
  flex-wrap: wrap;
  justify-items: stretch;
}


.predicciones {

  border: 1px solid var(--color-paleta2);
  border-radius: 2em;
  box-shadow: 0 0 1em var(--color-paleta2);
}

.bi__grid__container {
  display: grid;
  grid-template-columns: repeat(3, fr);
  /* Tres columnas con igual ancho */
  gap: 1em;
  /* Espacio entre las columnas */
  max-width: 100%;
  width: 100%;
  /* Máximo ancho del contenedor */
  margin: 0 auto;
  /* Centrar el contenedor en la página */
  padding: 1em;
  /* Espacio interno del contenedor */
  box-sizing: border-box;
  flex-wrap: wrap;
  grid-auto-flow: column;
}



h1 {
  color: var(--color-paleta1);
  text-align: center;
}

h2 {
  color: var(--color-paleta2);
}

p {
  color: var(--color-paleta5);
}

label,
input,
canvas {
  margin-bottom: 1em;
  color: var(--color-paleta4);
  /* Espacio entre elementos */
}


/* Ajustes responsivos */
@media (max-width: 900px) {
  .bi__container {
    grid-template-columns: 2fr;
    /* Una columna en pantallas pequeñas */
  }
}


/* Chart adjustments */
.contenedor__Estadisticas .contenedor__Estadisticas__kpi,
.contenedor__Estadisticas_predicciones,
.contenedor__Estadisticas__Estadisticas {

  /* Asegura que los elementos se distribuyan horizontalmente */
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;


  /* 2px */
}

.contenedor__Estadisticas__item {
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;

}



/* KPI adjustments */
#kpi p {
  font-size: 1em;
}

#min-value {
  color: rgb(152, 152, 219);
}

#max-value {
  color: rgb(106, 137, 106);
}

#avg-value {
  color: rgb(184, 96, 96);
}

#api-value {
  color: orange;
}

#kpi p span {
  font-weight: bold;
}

/* Grid container adjustments */
.grid-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(auto-fill, minmax(9.375em, 1fr));
  /* 150px */
  gap: 0.625em;
  /* 10px */
  max-width: 62.5em;
  /* 1000px */
  width: 100%;
  overflow-y: auto;
}



.table-cell {
  border: 0.03125em solid var(--color-on-bi2);
  /* 0.5px */
  color: white;
  padding: 0.625em;
  /* 10px */
  text-align: center;
  background-color: #01257D;
}

.table-header {
  background-color: #9acbff;
  cursor: pointer;
}

.hidden-row {
  display: none;
}

.table-cell:hover {
  background-color: var(--color-biprimary);
}

.contenedor__table {
  font-size: 2em;
  max-width: 90%;
  height: 90%;
  max-height: 90%;
  width: 10rem;
}

.contenedor__table table {
  width: 10rem;
  max-width: 100%;
  min-width: 30%;
  height: 50em;
  border-collapse: collapse;
  margin-bottom: 5px;
  border: 0.03125em solid var(--color-on-bi2);
  /* 0.5px */
  padding: 0;
  /* 10px */


}

table {
  text-align: center;
}

.contenedor__table table,
.contenedor__table th {
  border: 0.5px solid var(--color-on-bi2);
  color: white;
  width: em;
  max-width: 90%;
}


.contenedor__table td {
  padding: 1px;
  text-align: center;
  width: 3em;
  max-width: 90%;
}

.contenedor__table th {
  background-color: #9acbff;
  cursor: pointer;
}

tr.hidden {
  display: none;
}

td:hover {
  background-color: var(--color-primary);
}

/* Ajustes para las gráficas */
canvas {
  margin-top: 2px;

}