#business-intelligence {
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

input[type="file"],
input[type="number"],
button {
    display: block;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    cursor: pointer;
}

th:hover {
    background-color: #ddd;
}

#statistics {
    margin-top: 20px;
}

canvas {
    margin-top: 20px;
}

#predictions {
    margin-top: 20px;
}

#predictions th,
#predictions td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#predictions th {
    background-color: #f2f2f2;
}


thead {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e8f4ff;
}

/* Efecto de sombra al pasar el ratón por encima de las celdas */
td:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilo para la columna que se puede ordenar */
th.sortable:hover {
    cursor: pointer;
    background-color: #d1eaff;
}