/** @format */
.contenedor__proyectos {
  min-width: 100%;
  margin: 0 auto; /* Centra el contenedor */
  padding: 1rem;
}

.proyectos__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 0.8rem;
}

.proyecto {
  background: url(../../images/background/bk.jpg);
  border-radius: 8px;
  border: 1px solid #61dafb;
  box-shadow: inset 0 2px 5px #61dafbaa;
  transition: transform 0.3s ease;

  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proyecto:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.proyecto img {
  text-align: center;
}
.proyecto__title {
  font-size: 1.2rem;
  padding: 1px 2px;
  color: white;
}

.proyecto__img {
  border-radius: 10px;
  border: 1px solid #61dafb;
  width: 80%;
  height: 50%;
}

.proyecto__content {
  padding: 4px;
}

.proyecto__description {
  max-height: 80px;
  overflow: hidden;
  margin: 0 0.5rem;
  transition: max-height 2s ease;
}

.proyecto__description.collapsed {
  max-height: 80px; /* Descripción oculta por defecto */
}

.proyecto__description:not(.collapsed) {
  max-height: 20rem; /* Se expande al hacer click */
}

.toggle-button {
  color: var(--color-paleta3, #3498db);
  cursor: pointer;
  text-align: right;
  margin-top: 8px;
  transition: all 2s ease;
}

/* Responsividad para proyectos */
@media (max-width: 768px) {
  .proyecto__title {
    font-size: 1.1rem;
  }

  .proyectos__grid {
    grid-template-columns: 1fr; /* Proyectos ocupan todo el ancho en pantallas pequeñas */
  }
}

.contenedor__flex__proyectos {
  display: flex;
  margin-bottom: 1rem;
  text-align: center;
  gap: 2px;
  flex-wrap: wrap;
}

.tarjeta__kpi_proyecos {
  border: 1.5px solid var(--color-hover);
  background-color: var(--color-paleta4);
  display: flex;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  /* Fondo más claro para las tarjetas */
}

.tarjeta__kpi_proyecos:hover {
  transform: scale(1.05);
}

.tarjeta_kpi__value {
  margin-top: 0;
  height: 1.5rem;
  color: var(--color-principal);
}

.tarjeta__kpi__data {
  border: 0.8px solid var(--color-hover);
  border-radius: 7px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.2rem;
  text-align: center;
  margin: 0.1rem;
  display: flex;
}

.tarjeta__kpi__icon {
  font-size: 32px;
  color: var(--color-paleta1);
  margin-bottom: 0;
}

.tarjeta__kpi_proyecos__detalles {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 0.7rem; /* Fuente más pequeña para la descripción */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .tarjeta__kpi__icon {
    font-size: 0.9rem;
  }

  .tarjeta__kpi_proyecos {
    flex: 1; /* Dos tarjetas por fila en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .tarjeta__kpi_proyecos {
    flex: 1 1 100%; /* Una tarjeta por fila en pantallas pequeñas */
  }
}
