/** @format */
.contenedor__proyectos {
  min-width: 100%;
  margin: 0 auto; /* Centra el contenedor */
}

.proyectos__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; /* Espacio entre las tarjetas */
  align-items: center;
}

/* Estilos para cada proyecto */
.proyecto {
  flex: 1 1 calc(45% - 2rem); /* Ajusta el tamaño */
  background: url(../../images/background/bk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 1px solid #61dafb;
  box-shadow: inset 0 2px 5px #61dafbaa;
  padding: 1rem;
  transition: box-shadow 0.3s ease;
}

/* Estilo para la imagen del proyecto */
.proyecto__img {
  margin-top: 1rem;
  max-width: 100%; /* Se ajusta al ancho del contenedor */
  max-height: 200px; /* Establece una altura máxima */
  width: 300px; /* Establece una altura máxima */
  object-fit: cover; /* Ajusta la imagen para llenar el espacio sin distorsión */
  border: 1px solid var(--color-paleta3);
  border-radius: 5px;
}

/* Contenido del proyecto */
.proyecto__content {
  padding: var(--relleno-mediano);
  height: calc(100% - 150px); /* Resta la altura de la imagen */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye el contenido */
}

/* Descripción del proyecto */
.proyecto__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Mostrar solo 3 líneas */
  overflow: hidden; /* Oculta el texto que excede las líneas visibles */
  transition: max-height 0.5s ease;
  color: var(--color-texto);
  text-align: justify;
  width: 100%;
  margin-top: 0.5rem;
}

.proyecto__description.collapsed {
  display: -webkit-box; /* Mantiene la misma estructura */
}

.proyecto__description {
  display: block; /* Muestra el contenido por defecto */
}

.toggle-button {
  font-size: 0.85rem; /* Tamaño más pequeño */
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--color-paleta3);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: var(--color-paleta3);
  color: white;
}

@media (max-width: 768px) {
  .proyecto {
    flex: 1 1 100%; /* Tarjetas en una columna */
  }
}

.footer__kpis {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.kpi {
  background: url(../../images/background/bk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid var(--color-paleta6) ddd;
  border-radius: 8px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  width: 200px;
  text-align: center;
  margin: 1rem;
}

.kpi__icon {
  text-align: center;
  max-width: 50px;
  margin-bottom: 0.5rem;
  margin-left: 40%;
  color: var(--color-texto);
  background-color: var(--color-paleta2);
  border-radius: 4px;
}

.kpi__data {
  margin-top: 0.5rem;
  height: 8rem;
}

.kpi__value {
  font-size: 1.2rem;
  font-weight: bold;
}

.kpi__description {
  font-size: 0.775rem;
  color: #fafafafa;
}
