.menu__config {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  background: linear-gradient(
    135deg,
    var(--color-rojo-3),
    var(--color-rojo-2),
    var(--color-rojo-4),
    var(--color-rojo-1)
  );
  color: var(--color-secundario);
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}

.menu__config i {
  font-size: 24px;
}

.menu__config__toggle-menu {
  display: none;
  position: fixed;
  bottom: 80px;
  left: 20px;
  background: linear-gradient(
    135deg,
    var(--fondo-secundario),
    var(--color-rojo-2),
    var(--fondo-terciario),
    var(--color-rojo-1)
  );
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.menu__config__toggle-menu label {
  color: var(--color-principal);
  display: block;
  margin-bottom: 10px;
}

.menu__config__toggle-menu input[type="radio"] {
  margin-right: 10px;
}

/* Clases para temas */
.theme-light {
  background-color: var(--fondo-claro);
  color: var(--texto-claro);
}

.theme-dark {
  background-color: var(--fondo-oscuro);

  color: var(--texto-oscuro);
}

.theme-space {
  background-color: var(--fondo-principal);
  color: var(--color-principal);
}
