.modal {
  position: absolute;
  display: none; /* Ocultos por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
  justify-content: center;
  align-items: center;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

/* Aumentar tamaño del modal y centrar el contenido */
.modal-content {
  background-color: var(--color-paleta2);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  font-size: 1.5rem;
  z-index: 101;
}

.modal-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.close-button {
  margin-top: 10px;
  padding: 10px 20px; /* Ajusta el tamaño del botón */
  background-color: #ff5e78;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem; /* Tamaño más razonable */
  font-weight: bold;
  color: var(--color-secundario);
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 102; /* Asegúrate de que el botón esté encima del modal */
}

.close-button:hover {
  background-color: #ffb1b1;
}
