@import url("../../styles/styles.css");
@import url("../../styles/general.css");

/*************other skill **************/
/* Estilo para la sección de trabajos */

.other-skills-list {
	min-height: 70vh;
	list-style: none;
	text-align: center;
	padding: 0;
	transition: all 3s;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-size: var(--medida-texto-mediano);
}

.other-skills-item {
	gap: 1rem;
	max-width: 80%;
	opacity: 0;
	transform: translateX(-20px);
	transition: all 2s ease;
	text-align: center;
}

.other-skills-item:hover {
	transform: translateX(0);
	color: var(--color-texto);
	opacity: 1;
	background-color: var(--color-hover);
}

.other-skills-item:nth-child(1) {
	animation-delay: 6s;
}

.other-skills-item:nth-child(2) {
	animation-delay: 10s;
}

.other-skills-item:nth-child(3) {
	animation-delay: 3s;
}

.other-skills-item:nth-child(4) {
	animation-delay: 4s;
}

.other-skills-item:nth-child(5) {
	animation-delay: 6s;
}

.other-skills-icon {
	color: var(--color-texto);
}
