/** @format */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* Importar Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Importar Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

/* Importar Playfair Display */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

/* Importar Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

/* Fuentes adicionales */
.playwrite-us-trad-u {
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.roboto-condensed-con {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
}
.texto__3d {
  font-size: var(--medida-texto); /* Tamaño de fuente */
  font-weight: bold; /* Grosor de la fuente */
  color: var(--color-principal); /* Color del texto principal */
  text-shadow: 0 0 5px var(--color7), /* Brillo suave */ 0 0 10px var(--color1),
    /* Brillo más fuerte */ 0 0 12px var(--color2),
    /* Sombra más difusa */ 0 0 18px var(--color3),
    /* Más difusa */ 0 0 20px var(--color4); /* Sombra más lejana */

  transform: translateZ(0) rotateX(10deg) rotateY(10deg); /* Rotaciones para dar efecto 3D */

  perspective: 1000px; /* Añade profundidad a la perspectiva */
  display: inline-block; /* Necesario para aplicar transformaciones 3D correctamente */
  transition: transform 0.3s ease; /* Suaviza la transición */
}

.texto__3d:hover {
  transform: translateZ(20px) /* Eleva el texto al pasar el mouse */
    rotateX(5deg) rotateY(5deg) scale(1.05); /* Efecto de elevación y escalado */
}

.texto__3d:before {
  content: attr(data-shadow); /* Sombra adicional */
  position: absolute;
  left: 2px;
  top: 2px;
  color: var(--color4); /* Color de sombra */
  filter: blur(5px); /* Difumina la sombra */
  z-index: 1; /* Envía la sombra detrás del texto */
}

/* Clase para texto atractivo */
.texto__atractivo {
  color: var(--color-titulo); /* Color del texto */
  text-shadow: 0 0 10px var(--color1),
    /* Sombra de texto */ 0 0 20px var(--color1), 0 0 30px var(--color2),
    0 0 40px var(--color3), 0 0 50px var(--color4), 0 0 60px var(--color4),
    0 0 70px var(--color7);
}

.texto {
  font-size: var(--medida-texto);
  transition: all 4s ease-out;
  font-family: var(--fuente-secundaria);
}

.texto span {
  font-size: var(--medida-texto-grande);
  font-weight: 700;
  color: var(--color6);
}

.texto-margin {
  margin: 1rem 0;
}

.texto-padding {
  padding: 1rem;
}

.texto__justificado {
  text-align: justify;
}

.texto__centrado {
  text-align: center;
}

/* ********** HEADINGS *********** */
.inicio__titulo {
  text-align: center;
  display: inline-block;
  margin: 2rem 0;
  font-family: "Montserrat";
  font-size: var(--medida-titulo);
  text-shadow: 1px 1px 15px var(--color2), 1px 0 25px var(--color1),
    1px 1px 35px var(--color2), 1px 1px 45px var(--color4);
  transition: all 4s ease-out;
}

.inicio__titulo span {
  font-size: var(--medida-titulo-extra-grande);
  color: var(--color6);
}

.descripcion {
  color: var(--color3);
  font-size: var(--medida-texto-mediano);
  margin-bottom: var(--margen-mediano);
}

.descripcion__caja {
  margin: 0 auto;
  max-width: var(--ancho-mediano);
}

.segundotexto {
  font-size: var(--medida-texto-mediano), 1rem;
}

.subtitulo {
  color: var(--color-texto);
  flex: none;
  font-family: "Montserrat", sans-serif;
  font-size: var(--medida-subtitulo);
  margin-left: 3.5rem;
  transition: all 0.7s ease-in-out;
}

.subtitulo:hover {
  animation: glow 1.5s infinite;
  color: var(--color2);
  font-size: var(--medida-subtitulo);
  text-shadow: 2px 2px 4px var(--color3);
  transition: all 1.5s ease-in-out;
}

.subtitulo span {
  color: var(--color4);
  font-size: var(--size-titulogrande);
  text-shadow: 1px 10px 20px rgba(154, 203, 255, 0.8);
}

.subtitulo span:hover {
  color: var(--color2);
  font-size: 2.1rem;
  text-shadow: 1px 10px 20px rgba(154, 203, 255, 0.8);
}

.subtitulo__derecho {
  align-items: center;
  display: flex;
  justify-content: right;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.subtitulo__izquierdo {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.subtitulo__derecho::before,
.subtitulo__izquierdo::after {
  background-color: var(--color4);
  content: "";
  display: block;
  text-shadow: 2px 2px 4px var(--color1);
}

.parte1,
.parte2 {
  flex: 1 1 100%;
}

/* Media query para pantallas más grandes */
@media (min-width: 600px) {
  .parte1,
  .parte2 {
    flex: 1 1 auto;
  }
}

.texto_3d_rapido {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto_3d_rapido h1 {
  color: var(--color1);
  font-size: var(--medida-titulo-extra-grande);
  font-weight: 700;
  text-shadow: -0.0075em 0.0075em 0 var(--color1),
    0.005em 0.005em 0 var(--color2), 0.01em 0.01em 0 var(--color3),
    0.015em 0.015em var(--color4), 0.02em 0.02em 0 var(--color5),
    0.025em 0.025em 0 var(--color6), 0.03em 0.03em 0 var(--color7);
}
