/* .section-about: Sección "Acerca de" */
.section-about {
	padding: 2rem 2rem;
	transition: all 0.4s;
	box-sizing: border-box;
	background-color: transparent;
	height: 100vh;
	font-size: var(--medida-texto-grande);
}

.section-about span {
	font-size: var(--ancho-titulo);
}

/* .about-box: Contenedor de la sección "Acerca de" */
.about-box {
	color: var(--color-primertexto);
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	justify-content: space-between;
	text-shadow: 1px 1px 11px var(--color-paleta6);
}

/* .about-column: Información Personal */
.about-column {
	flex: 1;
	max-width: 800px;
	text-align: justify;
	border-radius: 2rem;
	gap: 2rem;
}

/* .about_column_skill: Habilidades en la sección "Acerca de" */
.about_column_skill {
	display: flex;
	flex: 1;
	background-image: url("../../images/logo.png");
	background-size: 15%;
	background-position: center;
	position: static;
	background-repeat: no-repeat;
}

/* Contenedor de habilidades */
#movimiento_skills {
	perspective: 1000px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.movimiento_skills-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 1s;
}

.movimiento_skills-grid-skill {
	position: absolute;
	transition: transform 1.5s;
	transform-style: preserve-3d;
}

.movimiento_skills-grid-skill img {
	max-width: 6rem;
	min-width: 5rem;
}

.movimiento_skills-grid-skill-tooltip {
	position: absolute;

	left: 50%;
	transform: translateX(-50%);
	background-color: inherit;
	color: var(--color-paleta5);
	padding: 1rem;
	opacity: 0.9;
	transition: opacity 0.3s;
	pointer-events: none;
	font-size: 0.8rem;
}

.movimiento_skills-grid-skill:hover {
	opacity: 1;
	color: var(--color-paleta4);
	background-color: var(--color-primary);
}

.movimiento_skills-grid-skill-tooltip:hover {
	opacity: 0.7;
	color: #000;
	background-color: var(--color-primary);
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
	.about-box {
		flex-direction: column;
	}

	.about_column_skill {
		padding: 5rem;

		display: flex;
		flex: 1;
		background-image: url("../../images/logo.png");
		background-size: 10%;
		background-position: center;

		background-repeat: no-repeat;
	}

	.about-column {
		text-align: center;
	}
}
