#movimiento_skills_sobre_mi .sobre__mi__columna {
	font-size: 1.5rem;
}

.coontenedor__flex {
	display: flex;
}

.sobre__mi__columna {
	flex: 1;
	text-align: justify;
	margin-left: 1.5rem;
	margin-top: 1.5rem;
}

.sobre__mi__movimiento_skills {
	margin-top: 4rem;

	margin-left: 4rem;
	padding: 1rem;
	display: flex;
	flex: 1;
	background-size: cover;
	background-position: center;
	position: static;
	background-repeat: no-repeat;
}

@keyframes cambiarImagen {
	0%,
	100% {
		background-image: url("../../images/logo.png");
	}
	25% {
		background-image: url("../../images/logomin.webp");
	}
	50% {
		background-image: url("../../images/logo.png");
	}
	75% {
		background-image: url("../../images/logo96.jpg");
	}
}

.cambiarlogo {
	width: 200px;
	height: 200px;
	animation: cambiarImagen 10s infinite;
}

/* Contenedor de habilidades */
#movimiento_skills {
	perspective: 1000px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.movimiento_skills-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 2s;
}

.movimiento_skills-grid-skill {
	position: absolute;
	transition: transform 1.5s;
	transform-style: preserve-3d;
}

.movimiento_skills-grid-skill img {
	max-width: 3rem;
	min-width: 2.5rem;
}

.movimiento_skills-grid-skill-tooltip {
	position: absolute;

	left: 50%;
	transform: translateX(-50%);
	background-color: inherit;
	color: var(--color-paleta5);
	padding: 1rem;
	opacity: 0.9;
	transition: opacity 0.3s;
	pointer-events: none;
	font-size: 0.8rem;
}

.movimiento_skills-grid-skill:hover {
	opacity: 1;
	color: var(--color-paleta4);
	background-color: var(--color-primary);
}

.movimiento_skills-grid-skill-tooltip:hover {
	opacity: 0.7;
	color: #000;
	background-color: var(--color-primary);
}

#movimiento_skills img {
	max-width: 4rem;
	perspective: 100px;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
	.coontenedor__flex {
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	.sobre__mi__columna,
	.sobre__mi__movimiento_skills {
		max-width: 100%;
		padding: 0.1rem;
	}
	#movimiento_skills_sobre_mi .sobre__mi__columna {
		font-size: 1rem;
	}
}

/* Logo centrado */
.skills-logo {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 5rem; /* Tamaño del logo */
	height: 4rem; /* Tamaño del logo */

	background: url("../../images/logo.png") no-repeat center center;
	background-size: contain;
	pointer-events: none; /* Permite que las skills puedan ser clickeables */
}
