body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-size: cover;
  background: url(../../images/background/bk.jpg);
}

/* Estilos para títulos y texto */
#inteligencia-negocios,
#business-intelligence h2 {
  color: var(--color-titulo);
}
#business-intelligence span {
  color: var(--color-paleta5);
  font-size: 1rem;
}

#inteligencia-negocios {
  font-size: var(--medida-texto-reducido);
}

#business-intelligence h2 {
  font-size: var(--size-subtitulo, 15px);
  text-align: center;
}

/* Contenedores principales */
.contenedor__bi,
.contenedor_bi {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
}

.contenedor__bi {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

/* Elementos de negocio e inteligencia */
.bi__elemento {
  margin-top: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  background: url(../../images/background/bk.jpg);
  border-radius: 10px;
  border-color: #3a3f47;
  box-shadow: inset 0 0 10px #282c34aa;
  color: var(--color-texto);
  border: 1px solid var(--color-texto);
  border-radius: 5px;
  border-color: #61dafb;
  box-shadow: inset 5px 5px 10px #61dafb99;
  display: flex;
  flex-flow: column wrap;

  padding: 2rem;
}

/* Gráficos y tablas */
#charts {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

canvas {
  border: 1px solid black;
}

/* Tablas */
table,
.dataTable,
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
}

table tr:nth-child(even),
.dataTable tbody tr:nth-child(even),
.table tbody tr:nth-child(even) {
  background-color: var(--color-paleta7);
}

table tr:hover,
.dataTable tbody tr:hover,
.table tbody tr:hover {
  background-color: #e2e6ea;
}

/* Botones */
button {
  padding: 10px 20px;
  border: none;
  background-color: var(--color-paleta3);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Tablas ocultas */
.hidden {
  display: none;
}

/* Estilos para tablas específicas */
#dollar-values,
#monthly-statistics {
  width: 100%;
  border-collapse: collapse;
}

#dollar-values th,
#dollar-values td,
#monthly-statistics th,
#monthly-statistics td {
  padding: 8px;
  text-align: left;
}

#dollar-values th,
#monthly-statistics th,
.tabla__contenedor th {
  background-color: var(--color-paleta3);
  color: white;
}

/* Ajustes responsivos */
@media (max-width: 900px) {
  .contenedor__bi {
    grid-template-columns: 1fr;
  }
}

/* Contenedores para tablas */
.tabla__contenedor {
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  background-color: var(--color-paleta5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}
.tabla__contenedor th,
.tabla__contenedor tr,
.tabla__contenedor td {
  padding: 0.5rem;
}

.tabla__titulo {
  color: var(--color-subtitulo);
  font-size: var(--medida-titulo-mediano);
  text-align: center;
  margin-bottom: 1rem;
}
/* Para asegurar que las tablas ocupen todo el alto del contenedor */
.tabla__contenedor tbody {
  height: calc(100% - (/* altura de encabezado y márgenes */));
  overflow-y: auto; /* Permitir scroll si es necesario */
}
.tabla__contenedor tbody tr:nth-child(even) {
  border-bottom: 4px solid var(--color-paleta5); /* Color de borde para filas pares */
  border-left: 10%; /* Color de borde para filas pares */
  border-right: 10%; /* Color de borde para filas pares */
}

.tabla__contenedor td::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 90%;
  border-bottom: 2px solid #ddd; /* Color del borde inferior */
}

#valor-minimo,
#valor-minimo {
  color: rgb(152, 152, 219);
}

#valor-maximo {
  color: rgb(106, 137, 106);
}

#valor-promedio {
  color: rgb(184, 96, 96);
}

#valor-api {
  color: orange;
}
