/* Estilos para títulos y texto */
#inteligencia-negocios,
#business-intelligence h2 {
  color: var(--color-titulo);
}
#business-intelligence span {
  font-size: 1rem;
}

#inteligencia-negocios {
  font-size: var(--medida-texto-reducido);
}

#business-intelligence h2 {
  font-size: var(--size-subtitulo, 15px);
  text-align: center;
}
.contenedor__flex__bi {
  display: flex;

  flex-direction: column;
}

.contenedor__bi__kpi {
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
}
.contenedor__bi {
  display: flex;
  gap: 10px;
  padding: 0;
  margin-top: 1.4rem;
  align-items: stretch; /* Asegura que todos los elementos hijos tengan la misma altura */
}

.contenido__bi__7 {
  flex: 3; /* El 75% del espacio */
  min-width: 70%;
}

.contenido__bi__1 {
  flex: 1; /* El 25% del espacio */
}

.bi__elemento {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; /* Alineación vertical uniforme */
  height: 100%; /* Asegura que todos los elementos ocupen el mismo alto */
}

.tabla__contenedor,
.chart-container {
  flex: 1; /* Hace que las tablas y los gráficos ocupen el mismo espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart-container canvas {
  width: 100%; /* Asegura que el gráfico ocupe todo el ancho disponible */
  height: auto; /* Mantiene la proporción adecuada */
}

canvas {
  max-width: 100%;
  height: 200px; /* Limita la altura de los gráficos */
  border: 0.5px solid var(--color-hover, #ddd);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

canvas #chart1 {
  width: 98%;
  height: 200px;
}
/* Tablas */
.dataTable,
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
}

table tr:nth-child(even),
.dataTable tbody tr:nth-child(even),
.table tbody tr:nth-child(even) {
  background-color: var(--color-paleta6);
}

table tr:hover,
.dataTable tbody tr:hover,
.table tbody tr:hover {
  background-color: var(--color-paleta3);
}

/* Botones */
button {
  padding: 5px 10px;
  border: none;
  background-color: var(--color-paleta3);
  color: var(--color-texto);
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Ajustes responsivos */
@media (max-width: 724px) {
  .contenedor__bi {
    flex-direction: column;
  }
}

/* Estilos para DataTables */
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}

/* Tablas ocultas */
.hidden {
  display: none;
}

/* Estilos para tablas específicas */
#dollar-values,
#monthly-statistics {
  width: 100%;
  border-collapse: collapse;
}

#dollar-values th,
#dollar-values td,
#monthly-statistics th,
#monthly-statistics td {
  padding: 4px;
  text-align: left;
}

#dollar-values th,
#monthly-statistics th,
.tabla__contenedor th {
  background-color: var(--color-paleta3);
  color: var(--color-texto);
}

/* Contenedores para tablas */
.tabla__contenedor {
  border-radius: 10px;
  flex: 1;
  overflow: hidden;
  background-color: var(--color-paleta4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;

  height: 100%; /* Asegura que las tablas también ocupen todo el alto disponible */
}

.tabla__contenedor th,
.tabla__contenedor tr,
.tabla__contenedor td {
  padding: 0.4rem;
}

.tabla__titulo {
  color: var(--color-subtitulo);
  font-size: var(--medida-titulo-mediano);
  text-align: center;
  margin-bottom: 0.4rem;
}

/* DataTables pagination style */
.dataTables_wrapper .dataTables_paginate {
  margin-top: 10px;
  float: right;
}
.tarjeta__kpi__data {
  border: 0.8px solid var(--color-hover);
  border-radius: 7px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.2rem;
  text-align: center;
  margin: 0.1rem;
  display: flex;
}
