/** @format */

@import url("../../estilos/colors.css");
@import url("../../estilos/fuentes_y_textos.css");

:root {
	/* Colores adicionales */
	--color-paleta1: #03045e;
	--color-paleta2: #0077b6;
	--color-paleta3: #00b4d8;
	--color-paleta4: #90e0ef;
	--color-paleta5: #caf0f8;
}

body {
	/* 300px */
	max-width: 100%;
	max-height: 80vh;
	width: 100%;
	background: url("/images/background/bk.jpg"), inherit, transparent;
	color: var(--color-titulo);
}

/* Main contenedor adjustments */
#business-intelligence {
	/* 10px */
	background-color: inherit;
	color: var(--color-titulo);
	font-size: var(--size-textosmall), 0.7rem;
}

.contenedor__elementoprincipal {
	border-radius: 1px;

	flex-grow: 7;
	height: 100vh;
	max-width: 100vh;
	width: 80%;
	flex-flow: column wrap;
}

.contenedor_bi {
	display: grid;
	grid-template-columns: repeat(3, fr);
	/* Tres columnas con igual ancho */
	gap: 1rem;
	/* Espacio entre las columnas */
	/* Máximo ancho del contenedor */
	margin: 0 auto;
	/* Centrar el contenedor en la página */
	padding: 1em;
	/* Espacio interno del contenedor */
	box-sizing: border-box;
	flex-wrap: wrap;
	grid-auto-flow: column;
	height: 80vh;
}

#business-intelligence h2 {
	color: var(--color-paleta4);
	font-size: var(--size-subtitulo), 15px;
	text-align: center;
}

#business-intelligence p {
	color: var(--color-paleta5);
}

label,
input,
canvas {
	color: var(--color-paleta4);
	/* Espacio entre elementos */
}

/* Ajustes responsivos */
@media (max-width: 900px) {
	.contenedor_bi {
		flex-direction: column;
		/* Una columna en pantallas pequeñas */
	}
}

/* KPI adjustments */
#kpi p {
	font-size: 1em;
}

#min-value {
	color: rgb(152, 152, 219);
}

#max-value {
	color: rgb(106, 137, 106);
}

#avg-value {
	color: rgb(184, 96, 96);
}

#api-value {
	color: orange;
}

#kpi .p .span {
	font-weight: bold;
}

.contenedor_bi table,
.contenedor_bi th,
.contenedor_bi tr,
.contenedor_bi td {
	border: 1px solid #00b4d8;
}

.contenedor__table {
	font-size: 1rem;
	max-height: 95vh;
	width: 20rem;
}

.contenedor__table table {
	width: 20rem;

	max-width: 30%;
	height: 80vh;
	border-collapse: collapse;
	margin-bottom: 1px;
	border: 1px solid var(--color-paleta3);
	/* 0.5px */
	padding: 0;
	/* 10px */
}

#business-intelligence table {
	text-align: center;
}

.contenedor__table table,
.contenedor__table th {
	border: 1px solid var(--color-paleta5);
	color: white;
	width: 20rem;
	max-width: 90%;
}

.contenedor__table td {
	padding: 1px;
	text-align: center;
	width: 20rem;
	max-width: 90%;
}

.contenedor__table th {
	background-color: #9acbff;
	cursor: pointer;
}

td:hover {
	background-color: var(--color-primary);
}

/* Ajustes para las gráficas */
canvas {
	margin-top: 2px;
}

.contenedor__Estadisticas .contenedor__Estadisticas__kpi,
.contenedor__Estadisticas_predicciones,
.contenedor__Estadisticas__Estadisticas {
	/* Asegura que los elementos se distribuyan horizontalmente */
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;

	/* 2px */
}

/* Corrección de desbordamiento en el iframe */
.contenedor__iframe {
	background-color: inherit;
	/* Color de fondo opcional */
	border-radius: 8px;
	/* Radio de borde opcional */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	/* Sombra opcional */

	max-width: 220em;
	min-width: 70em;
	overflow: hidden;
	/* Proporción 16:9 */
	position: relative;

	justify-content: space-between;
}

.bi__iframe {
	border: none;
	flex: 2;
	height: 100%;
}
