/** @format */

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body[data-theme="dark-theme"] {
  background-image: url(../images/background/bk.jpg);
  color: var(--color-texto), #fff;
  text-align: center;
}

body {
  background: url(../images/background/bk.jpg);
  background-size: cover;

  background-repeat: no-repeat;
  color: var(--color-titulo);
  font-family: var(--fuente-principal);
  font-weight: 400;
  transition: background-color 0.9s, color 0.3s;
  text-align: center;
  text-shadow: 1px 1px 5px var(--color-paleta6);
  display: flex;
  flex-flow: column wrap;
}

header {
  position: absolute;
}
main {
  position: relative;
}
a {
  line-height: normal;
  text-decoration: none;
  transition: all 0.8s ease-in-out;
}

iframe {
  border: 2px solid var(--color-hover);

  border-radius: 10px;
  border-color: var(--color-paleta2);
  box-shadow: inset 5px 5px 10px #61dafb99;

  min-height: 96vh;
  margin-top: 3rem;
  width: 100%;
}

.span {
  color: var(--color-paleta5);
  font-size: var(--medida-texto-extra-grande);
  font-weight: 600;
}

li {
  padding: 0;
  margin-right: var(--margen-reducida);
}

h3 {
  font-size: var(--size-tercertitulo);
}

h4 {
  font-size: var(--size-textosmall);
}

section {
  background-color: transparent;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.doble__pantalla {
  height: 160vh;
}

.triple__pantalla {
  height: 270vh;
}
