@media (max-width: 768px) {
  :root {
    --medida-texto-extra-grande: 1.3rem;
    --medida-texto-extra-reducido: 0.5rem;
    --medida-texto-grande: 1rem;
    --medida-texto: 0.8rem;

    --medida-titulo: 2.4rem;
    --medida-subtitulo: 1.1rem;
    --medida-titulo-extra-grande: 3.5rem;
    --medida-titulo-extra-reducido: 0.5rem;
    --medida-titulo-grande: 2.6rem;
  }
  .contenedor__flex__centrado__centrado {
    flex-direction: column;
  }
  iframe {
    margin: 0;
    width: 100%;
    padding: 0rem;
  }

  .doble__pantalla {
    height: 150vh; /* Ocupa el 200% de la altura del viewport en pantallas pequeñas */
  }
  .triple__pantalla {
    height: 200vh; /* Ocupa el 200% de la altura del viewport en pantallas pequeñas */
  }
  .texto {
    outline: 5px dashed blue;
    font-size: 0.9rem; /* Ocupa el 200% de la altura del viewport en pantallas pequeñas */
  }
}

@media (max-width: 450px) {
  .inicio__titulo h5 span {
    font-size: 1rem;
  }

  .doble__pantalla {
    height: 160vh; /* Ocupa el 200% de la altura del viewport en pantallas pequeñas */
  }
  .triple__pantalla {
    height: 300vh; /* Ocupa el 200% de la altura del viewport en pantallas pequeñas */
  }
  .texto {
    font-size: 0.9rem; /* Ocupa el 200% de la altura del viewport en pantallas pequeñas */
  }
}
