@media (max-width: 768px) {
  iframe {
    margin-top: 0.5rem;
  }

  /* Para tablets pequeñas y dispositivos móviles */
  .inicio__titulo h1 {
    font-size: 2.3rem;
  }

  .inicio__titulo h1 span {
    font-size: 2.5rem;
  }

  .iframe {
    height: 110vh; /* Ocupa el 200% de la altura del viewport en pantallas pequeñas */
  }
  .doble__pantalla {
    height: 140vh; /* Ocupa el 200% de la altura del viewport en pantallas pequeñas */
  }
  .triple__pantalla {
    height: 200vh; /* Ocupa el 200% de la altura del viewport en pantallas pequeñas */
  }
  .texto {
    font-size: 0.9rem; /* Ocupa el 200% de la altura del viewport en pantallas pequeñas */
  }
}

@media (max-width: 576px) {
  /* Para dispositivos móviles más pequeños */
  .inicio__titulo h1 {
    font-size: 2.1rem;
  }

  .inicio__titulo h1 span {
    font-size: 2.4rem;
  }
  .inicio__titulo h5 span {
    font-size: 1rem;
  }
  .iframe {
    height: 120vh; /* Ocupa el 200% de la altura del viewport en pantallas pequeñas */
  }
  .doble__pantalla {
    height: 150vh; /* Ocupa el 200% de la altura del viewport en pantallas pequeñas */
  }
  .triple__pantalla {
    height: 200vh; /* Ocupa el 200% de la altura del viewport en pantallas pequeñas */
  }
  .texto {
    font-size: 0.9rem; /* Ocupa el 200% de la altura del viewport en pantallas pequeñas */
  }
}
