.sarita {
  font-size: 1.2rem;
  margin: 10px;
  transform-style: preserve-3d;
  transform: rotateY(15deg) translateZ(40px); /* Ajustado ángulo */
  transition: transform 0.7s ease, text-shadow 0.7s ease;
}

/* Estilos 3D aplicados desde el principio al selector de resultados */
.estadisticas {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 10vh;
  padding: 10px;
  background-color: #6ffdaaaa;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4),
    /* Sombra principal */ -5px -5px 15px rgba(255, 255, 255, 0.8) inset,
    /* Brillo interior superior */ 5px 5px 15px rgba(0, 0, 0, 0.2) inset; /* Sombra interior inferior */
  transform: rotateY(20deg) rotateX(-5deg) translateZ(120px); /* Ajustado ángulo */
  transition: transform 0.7s ease-in-out, box-shadow 0.7s;

  /* Borde con gradiente de tonos verdes tipo hoja de fresa */
  border: 5px solid transparent;
  background-image: linear-gradient(#d5303299, white),
    linear-gradient(45deg, #66cdaa, #d53032aa, #d53032);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.tablero {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  background-color: var(--fondo-principal);
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4),
    /* Sombra principal */ -5px -5px 15px rgba(255, 255, 255, 0.8) inset,
    /* Brillo interior superior */ 5px 5px 15px rgba(0, 0, 0, 0.2) inset; /* Sombra interior inferior */
  transform: rotateY(20deg) rotateX(-5deg) translateZ(120px); /* Ajustado ángulo */
  transition: transform 0.7s ease-in-out, box-shadow 0.7s;

  /* Borde con gradiente de tonos verdes tipo hoja de fresa */
  border: 5px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(45deg, #7cfc00, #228b22, #006400);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* Resultados */
#divs-restantes,
#divs-capturados,
#tiempo-restante {
  font-weight: bold;
  color: #228b22;
  transform: rotateY(10deg) translateZ(30px); /* Ajustado ángulo */
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

/* Ícono de configuración de Google con efecto 3D */
.icono-configuracion {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transform: rotateY(360deg) translateZ(50px);
  transition: transform 1s ease;
}

.icono-configuracion:hover {
  transform: rotateY(720deg) translateZ(150px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
