html {
  font-size: 62.5%;
  height: 100vh;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    15deg,
    var(--fondo-terciario),
    var(--fondo-secundario),
    var(--fondo-primario),
    var(--fondo-terciario)
  );
  background-repeat: no-repeat;
  font-family: var(--fuente-principal);
  color: var(--color-principal);
  transition: background-color 0.3s, color 0.3s;

  padding: 1px;
  margin: 1px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--fondo-menu);
  color: var(--color-menu);
  padding: 2px;

  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4),
    /* Sombra principal */ -5px -5px 15px rgba(255, 255, 255, 0.8) inset,
    /* Brillo interior superior */ 5px 5px 15px rgba(0, 0, 0, 0.2) inset;

  transition: transform 0.7s ease-in-out, box-shadow 0.7s;

  /* Borde con gradiente de tonos verdes tipo hoja de fresa */
  border: 1px solid transparent;
  background-origin: border-box;
  max-height: 4vh;
  background-clip: content-box, border-box;
}

.main {
  display: flex;
  flex-flow: column wrap;
  padding: 2rem 1rem;
  margin: 0.5rem;
  border: 2px solid #0ff;
  border-radius: 5px;
  background-color: var(--fondo-secundario);
}
p[title] {
  cursor: pointer;
  position: relative;
}

/* Si quieres personalizar el tooltip */
p[title]:hover::after {
  content: attr(title);
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  background-color: var(--fondo--terciario);
  color: var(--color-principal);
  padding: 0.5rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  font-size: 0.75rem;
  z-index: 10;
}

p[title]:hover::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0.5rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent transparent var(--color-principal) transparent;
  z-index: 10;
}

#message {
  font-size: 30px;
}

h3 {
  color: (var(--color-terciario));
}

button {
  background: linear-gradient(
    135deg,
    var(--color-rojo-3),
    var(--color-rojo-2),
    var(--color-rojo-4),
    var(--color-rojo-1)
  );
  display: inline-block;
}
