.SuperBacano {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-size: 10%;
  background-color: red;
  padding: 1px;

  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4),
    /* Sombra principal */ -5px -5px 15px rgba(255, 255, 255, 0.8) inset,
    /* Brillo interior superior */ 5px 5px 15px rgba(0, 0, 0, 0.2) inset; /* Sombra interior inferior */
  transform: rotateY(2deg) rotateX(-5deg) translateZ(10px); /* Ajustado ángulo */
  transition: transform 0.7s ease-in-out, box-shadow 0.7s;

  /* Borde con gradiente de tonos verdes tipo hoja de fresa */
  border: 1px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.gradiente__calido {
  background: radial-gradient(
    circle at 40% 40%,
    #ff4500,
    /* Naranja fuego */ #ff6347,
    /* Tomate */ #ffa07a,
    /* Salmón claro */ #ffdab9 /* Melocotón */
  );
  filter: brightness(1.3);
}

.gradiente__verde__opaco {
  background: radial-gradient(
    circle at 40% 50%,
    #228b22dd,
    /* Naranja fuego */ #228b22aa,
    /* Tomate */ #228b2288,
    /* Salmón claro */ #228b2244 /* Melocotón */
  );
  filter: brightness(1.3);
}
