.SuperBacano {
  background-size: 90%;
  background-color: var(--color-paleta6);
  padding: 1px;

  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 255, 255, 0.4),
    /* Sombra principal */ -5px -5px 15px rgba(255, 255, 255, 0.8) inset,
    /* Brillo interior superior */ 5px 5px 15px rgba(0, 0, 0, 0.2) inset; /* Sombra interior inferior */
  transform: rotateY(2deg) rotateX(-5deg) translateZ(10px); /* Ajustado ángulo */
  transition: transform 0.7s ease-in-out, box-shadow 0.7s;
  /* Borde con gradiente de tonos verdes tipo hoja de fresa */
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.sonido__hover {
  transition: all 5s ease-out;
}

.sonido__hover:hover {
  cursor: pointer;
  background: conic-gradient(
    from 180deg,
    #ff00ff,
    /* Magenta neón */ #ff1493,
    /* Rosa intenso */ #ff4500,
    /* Naranja fuerte */ #00ff7f /* Verde primavera neón */
  );
  filter: brightness(1.4);
}

.tarjeta__sara {
  background: radial-gradient(
    circle,
    var(--fondo-primario),
    var(--fondo-secundario)
  );
  border-radius: 8px;
  box-shadow: inset 0 0 10px #61dafbaa;
  padding: 0.8rem;

  border: 1px solid #0ff;
}
.tarjeta__sara:hover {
  background: radial-gradient(circle, var(--color-paleta5), #61dafb20);
  color: var(--color-hover);
  transform: scale(1.5);
  box-shadow: 1px 1px 1px 2px #00ffff99;
}

.tarjeta__linea__gradiente {
  width: 80%; /* No ocupa el 100% del ancho */
  height: 2px; /* Grosor de la línea */
  background: linear-gradient(
    to right,
    var(--color-paleta6),
    var(--color-paleta1)
  ); /* Gradiente de colores */
  margin: 20px auto; /* Centrar la línea */
}

.gradiente__verde__opaco {
  background: radial-gradient(
    circle at 90% 50%,
    #228b22aa,
    /* Naranja fuego */ #228b2299,
    /* Tomate */ #228b2288,
    /* Salmón claro */ #228b2244 /* Melocotón */
  );
  filter: brightness(1.5);
}
