#tablero {
  padding: 1.5rem;
  background-color: var(--fondo-principal);
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgb(0 0 0 / 0.4),
    -5px -5px 15px rgb(255 255 255 / 0.8) inset,
    5px 5px 15px rgb(0 0 0 / 0.2) inset;
  transform: rotateY(10deg) rotateX(-5deg) translateZ(10px);
  transition: transform 0.7s ease-in-out, box-shadow 0.7s;
  border: 1px solid #fff0;
  background: url(../imagenes/sara.jpg);
  background-origin: border-box;
  background-clip: content-box, border-box;
  min-height: 80vh;
  overflow: hidden;
}

.tablero__contenedor__sarita {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgb(126 68 68 / 0.4),
    -5px -5px 15px rgb(255 255 255 / 0.8) inset,
    5px 5px 15px rgb(0 0 0 / 0.2) inset;
  width: 100%;
  height: 100%;
  gap: 10px;
  background-color: var(--fondo-secundario);
}

.tablero__contenedor__sarita .texto {
  flex: 1 0 calc(20% - 10px); /* 5 columnas */
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  background: radial-gradient(
    circle at 40% 40%,
    #ff4500aa,
    #ff6347aa,
    #ffa07aaa,
    #ffdab945
  );
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: background 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tablero__contenedor__sarita .texto img {
  width: 30px; /* Ajusta el tamaño de la imagen */
  height: 30px; /* Ajusta la altura de la imagen */
  margin-top: 10px;
  border-radius: 5px;
}

.tablero__contenedor__sarita .texto:hover {
  background: radial-gradient(circle at 40% 40%, #ff6347, #ffa07a, #ffdab9);
}

.sara {
  background-image: url("./imagenes/sara.jpg");
  background-size: content;
  opacity: 0.8; /* Cambia la opacidad del contenedor */
}
.contenedor__flex__columna {
  display: flex;
  flex-flow: column wrap;
}
