html {
    font-size: 60.5%;
    /* Cambio: eliminado espacio extra */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    font-family: var(--body-font);
    font-size: 2.2rem;
    font-weight: 400;
    overflow-x: hidden;
}

li {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 140rem;
    width: 100%;
}

.container-md {
    margin: 0 auto;
    max-width: 70%;
    width: 80%;
}


/* ANIMATION */

.slide-left {
    animation: slideleft 1s linear forwards;
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translate(10rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.description-box.slide-left {
    animation-delay: 2s;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

.padd-section {
    padding: 6.6rem 0;
}


/* TEXT */

.text {
    font-size: 2.2rem;
    line-height: 1.2;
}


/* FLEX */

.flex-item {
    padding: 20px;
    margin: 5px;
}

.flex-row {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flex-row-center-evenly {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 10%;
}

.flex-row-strech-evenly {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 10%;
    width: 70%;
}

.flex-row-strech-evenly.item70 {
    width: 70%;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-col-rigth {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.flex-col-end {
    margin: 20px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-row-end {
    margin: 20px;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* LINK */

.link:link,
.link:visited {
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
}

.link:hover,
.link:active {
    color: var(--color-primary);
}

.hidden {
    display: none;
}

.nav-icon {
    color: #fff;
    font-size: 1.6rem;
}

.nav-icon:hover {
    cursor: pointer;
}

.nav-icon[name="close-outline"],
.nav-icon[name="menu-outline"] {
    color: var(--color-on-surface-variant);
}


/* BUTTON */

.btn,
.btn:link,
.btn:visited {
    border: 2px solid;
    border-radius: var(--border-radius-sm);
    color: var(--color-primary);
    cursor: pointer;
    display: inline-block;
    padding: 1rem 3rem;
    transition: all 0.4s;
}

.btn-outline:link,
.btn-outline:visited {
    border-color: var(--color-primary);
}

.btn-outline:hover,
.btn-outline:active {
    background-color: var(--color-primary);
    color: #fff;
}

.btn-full:link,
.btn-full:visited {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-surface);
}

.btn-full:hover,
.btn-full:active {
    background-color: var(--color-on-primary-container);
    border-color: var(--color-on-primary-container);
}


/* HEADINGS */

.heading-primary {
    color: var(--color-primary);
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 1.1;
}

.heading-secondary {
    color: var(--color-primary);
    flex: flex;
    font-size: 2.2rem;
}

.heading-secondary span {
    color: var(--color-secondary);
}

.heading-secondary--left,
.heading-secondary--right {
    align-items: end;
    display: flex;
    gap: 0.9rem;
    margin-bottom: 1.2rem;
}

.heading-secondary--right {
    justify-content: flex-end;
}

.heading-secondary--left::after,
.heading-secondary--right::before {
    background-color: var(--color-tertiary);
    content: "";
    display: block;
    height: 1px;
    width: 100%;
}


/* SIDE-LINKS */

.side-social-links--left,
.side-social-links--rigth {
    bottom: 0;
    display: none;
    position: fixed;
}

.side-social-links--left {
    left: 5rem;
    right: auto;
}

.side-social-links--rigth {
    left: auto;
    right: 5rem;
}

.side-social-links--rigth a {
    color: inherit;
    font-size: small;
    writing-mode: vertical-rl;
}

.side-social-links--rigth a:hover,
.side-social-links--rigth a:active {
    transform: translateY(-3px);
}

.social-links {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.social-links--side {
    flex-direction: column;
}

.social-links--side::after {
    background-color: var(--color-tertiary);
    content: "";
    display: block;
    height: 20rem;
    margin: 0 auto;
    width: 1px;
}

.social-link {
    padding: 0.12rem;
}

.social-icon {
    color: var(--color-secondary);
    font-size: 3.2rem;
    transition: transform 0.3s;
}

.social-icon:hover,
.social-icon:active {
    transform: translateY(-5px);
}


/* IFRAME */

iframe {
    border: none;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2), 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

iframe:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 255, 0.5), 0px 5px 10px 5px rgba(0, 0, 255, 0.3);
}

section {
    border: none;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2), 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

section:hover {
    box-shadow: 0px 0px 15px 5px rgba(183, 183, 234, 0.5), 0px 5px 10px 5px rgba(0, 0, 255, 0.3);
}