/* Archivo: assets/css/navstyles.css */
/* Estilos para el header */
.section-header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Estilos para el nav */
.navflexrow {
    display: flex;
    justify-content: flex-end;
    /* Alinea los elementos a la derecha */
    align-items: center;
    padding: 0 20px;
}

/* Estilos para el logo */
.logo-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    /* Empuja el logo a la izquierda */
}

.logo {
    height: 25px;
    width: auto;
}

/* Estilos para el nav-menu */
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-list {
    list-style: upper-latin;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Estilos para los li */
#nav-list li {
    margin: 0 15px;
}

/* Estilos para los enlaces */
.nav-list-item {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 18px;
    padding: 15px 15px;
    display: block;
    transition: background-color 0.3s, color 0.8s;
}

/* Efecto hover para los enlaces */
.nav-list-item:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

/* Efecto activo (opcional) */
.nav-list-item:active {
    background-color: var(--color-primary);
    color: #fff;
}

/* Estilos para el toggle del menú (iconos) */
.nav-toggle {
    display: none;
    /* Oculto por defecto, útil para pantallas pequeñas */
}

.nav-icon {
    font-size: 24px;
    color: white;
}

