/* Estilo base */
.flex-col {
    display: flex;
    flex-direction: column;
}



.other-skills-list {
    list-style: none;
    padding: 0;
        animation: fadeInLeft 0.5s forwards;
}

.other-skills-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.5s ease;
}

.other-skills-item:hover {
    transform: translateX(0);
    opacity: 1;
}

.other-skills-item:nth-child(1) {
    animation-delay: 0.1s;
}

.other-skills-item:nth-child(2) {
    animation-delay: 0.2s;
}

.other-skills-item:nth-child(3) {
    animation-delay: 0.3s;
}

.other-skills-item:nth-child(4) {
    animation-delay: 0.4s;
}

.other-skills-item:nth-child(5) {
    animation-delay: 0.5s;
}

.other-skills-icon {
    font-size: 2rem;
    color: var(--color-primary);
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Aplicar animación al cargar la sección */
