/* .section-about: Sección "Acerca de" */
.section-about {
	padding: 5rem 5rem;
	margin-top: 2rem;
	transition: all 0.4s;
	box-sizing: border-box;
	background-color: transparent;
    max-height: 100vh;
}

/* .about-box: Contenedor de la sección "Acerca de" */
.about-box {
	color: var(--color-primertexto);
	display: flex;
	flex-flow: row wrap;
	gap: 2rem;
	justify-content: space-evenly;
	align-content: stretch;
	align-items: flex-start;
    text-shadow: 1px 1px 11px var(--color-paleta6);
}

.about-column {
	flex: 1;
	text-align: justify;
	border-radius: 1rem;
	overflow: hidden;
	font-size: var(--size-texto);
}

.about-column h2 {
	font-size: var(--size-titulogrande);
}

/* .about-skills: Habilidades en la sección "Acerca de" */
.about_column_skill {
	display: flex;
    flex: 1;


	background-image: url("../../images/logo.gif"), url("../../images/logo.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	max-width: 100%;
	max-height: 100%;
	height: 100%;
	margin: 5rem auto;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
	.about-box {
		flex-direction: column;
	}

	.about-skills {
		padding: 4rem;
	}
}

#movimiento_skills {
	perspective: 1000px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    position: relative;
}

.movimiento_skills-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: absolute;
    left: 0%;
    top: 30%;
	width: 40rem;
	height: 40rem;
	transform-style: preserve-3d;
	transform: rotateX(0deg) rotateY(0deg);
	transition: transform 1s;
}

.movimiento_skills-grid-skill {
	position: absolute;
	width: 6rem;
	height: 6rem;
	transition: transform 0.3s;
	transform-style: preserve-3d;
}

.movimiento_skills-grid-skill img {
	width: 100%;
	height: 100%;
	max-width: 3rem;
	min-width: 1.5rem;
}

.movimiento_skills-grid-skill-tooltip {
	position: absolute;
	top: 5rem;
	left: 50%;
	transform: translateX(-50%);
	background-color: inherit;
	color: var(--color-primertexto);
	padding: 5px;
	opacity: 1;
	transition: opacity 0.3s;
	pointer-events: none;
	font-size: 1rem;
}

.movimiento_skills-grid-skill:hover {
	opacity: 1;
	color: var(--color-primary);
	background-color: var(--color-primary);
}

.movimiento_skills-grid-skill-tooltip:hover {
	opacity: 0.7;
	color: #000;
	background-color: var(--color-primary);
}

#movimiento_skills {
	perspective: 1000px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative; /* Asegura que el contenedor se posicione correctamente */
}

.movimiento_skills-grid {
	position: relative;
	width: 40rem;
	height: 40rem;
	transform-style: preserve-3d;
	transform: rotateX(0deg) rotateY(0deg);
	transition: transform 1s;
}

.movimiento_skills-grid-skill {

	width: 4rem;
	height: 4rem;
	transition: transform 1s;
	transform-style: preserve-3d;
}
