/* Variables CSS generales */
:root {
  /* Variables para Imágenes */
  --logo-url: url("/imagenes/logo.png"); /* URL del logo */
  --logo-width: 9.375rem; /* Ancho del logo en rem (150px) */
  --logo-height: 3.125rem; /* Alto del logo en rem (50px) */
  --icono-url: url("/imagenes/icono.svg"); /* URL del ícono */
  --icono-width: 1.5rem; /* Ancho del ícono en rem (24px) */
  --icono-height: 1.5rem; /* Alto del ícono en rem (24px) */

  /* Alturas */
  --altura-completa: 100%;
  --altura-contenido: 70rem;
  --altura-grande: 80vh;
  --altura-mediano: 60vh;
  --altura-minima: 20vh;
  --altura-navbar: 1.5rem;
  --altura-reducido: 40vh;

  /* Anchos */
  --ancho-completo: 100%;
  --ancho-contenido: 70rem;
  --ancho-grande: 75%;
  --ancho-maximo: 90%;
  --ancho-mediano: 50%;
  --ancho-minimo: 10%;
  --ancho-reducido: 25%;
  --ancho-menu: 100%;

  /* Bordes */
  /* Bordes */
  --borde-estandar: 1rem;
  --borde-extra-grande: 3rem;
  --borde-extra-reducido: 0.0625rem;
  --borde-grande: 2rem;
  --borde-mediano: 1.5rem;
  --borde-reducido: 0.125rem;

  /* Colores principales */
  --color-menu: #00ffffb0;
  --color-principal: #3e5871;
  --color-primario: #555;
  --color-secundario: #0077b655;
  --color-terciario: #f0f0f501;

  --color-texto: #f5f5f5;
  --color-subtitulo: #bdc3ca;
  --color-titulo: #bdc3ca;
  --color-titulo-grande: #3e5871;

  /* Colores de Fondo */
  --fondo-principal: #3e5871; /* Fondo principal */
  --fondo-primario: #fff; /* Fondo principal */
  --fondo-secundario: #3e5871ee; /* Fondo secundario */
  --fondo-terciario: #f0f0f0aa; /* Fondo terciario */

  /* Medidas textos */
  --medida-texto: 1.1rem;
  --medida-texto-extra-grande: 2rem;
  --medida-texto-extra-reducido: 0.5rem;
  --medida-texto-grande: 1.4rem;
  --medida-texto-mediano: 0.8rem;
  --medida-texto-reducido: 0.6rem;

  /* Medidas títulos  */
  --medida-titulo: 3rem;
  --medida-subtitulo: 1.3rem;
  --medida-titulo-extra-grande: 4.5rem;
  --medida-titulo-extra-reducido: 0.5rem;
  --medida-titulo-grande: 2.6rem;

  /* Márgenes */
  --margen-extra-grande: 4rem;
  --margen-extra-reducido: 0.25rem;
  --margen-grande: 2rem;
  --margen-mediano: 1.5rem;
  --margen-reducido: 1rem;

  /* Rellenos */
  --relleno-extra-grande: 2rem;
  --relleno-extra-reducido: 0.25rem;
  --relleno-grande: 1.5rem;
  --relleno: 1rem;
  --relleno-reducido: 0.5rem;

  /* Paleta de colores */
  --color-paleta1: #34495e;
  --color-paleta2: #32454e;
  --color-paleta3: #858585;
  --color-paleta4: #535f5f;
  --color-paleta5: #bdc3ca;
  --color-paleta6: #ecf0f1;
  --color-paleta7: #f5f5f5;
  --color-hover: #0f9f9f;
  /* Colores */

  /* Sombra del texto */
  --sombra-1: 1px 1px 0;
  --sombra-2: 2px 2px 0;
  --sombra-3: 3px 3px 0;
  --sombra-4: 4px 4px 0;

  /* Fuentes */
  --fuente-principal: "Roboto Condensed", sans-serif; /* Fuente principal */
  --fuente-secundaria: "Roboto", sans-serif; /* Fuente principal */
  /* Tamaños de Fuente */
  --fuente-terciaria: "Montserrat", sans-serif; /* Fuente principal */
  --tamano-titulo: 1.6rem; /* Tamaño del título */
  --tamano-subtitulo: 1.4rem; /* Tamaño del subtítulo */
  --tamano-texto: 0.9rem; /* Tamaño del texto */
  --tamano-texto-pequeno: 0.85rem; /* Tamaño del texto pequeño */

  /* Espaciado */
  --margen: 1.5rem; /* Margen principal */
  --padding: 1rem; /* Relleno (padding) principal */
  --espaciado-entre-lineas: 1.6; /* Espaciado entre líneas */

  /* Bordes */
  --borde: 0.8px solid #0ff; /* Borde principal */
  --borde-reducido: 0.5px solid var(--color-borde); /* Borde fino */
  --borde-redondeado: 5px; /* Borde redondeado */
  --borde-mediano: 1.5rem; /* Borde redondeado */
  /* Otros Estilos */
  --sombra-caja: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Sombra de la caja */
  --sombra-texto: 0px 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3); /* Sombra del texto */

  /* Otros Colores Útiles */

  --borde: #dcdcdc; /* Color del borde */

  /* Fuentes */
  --fuente-primaria: "Montserrat", sans-serif; /* Fuente principal */
  --fuente-secundaria: "Georgia", serif; /* Fuente secundaria */
  --fuente-util: "Courier New", monospace; /* Fuente utilitaria */

  /* Tamaños de Fuente */
  --tamano-titulo: 2rem; /* Tamaño del título */
  --tamano-subtitulo: 1.5rem; /* Tamaño del subtítulo */
  --tamano-texto: 1rem; /* Tamaño del texto */
  --tamano-texto-pequeno: 0.875rem; /* Tamaño del texto pequeño */

  /* Espaciado */
  --margen-principal: 1.5rem; /* Margen principal */
  --padding-principal: 1rem; /* Relleno (padding) principal */
  --espaciado-entre-lineas: 1.6; /* Espaciado entre líneas */

  /* Bordes */
  --borde-principal: 1px solid #dcdcdc; /* Borde principal */
  --borde-fino: 0.5px solid #bdc3c7; /* Borde fino */
  --borde-redondeado: 5px; /* Borde redondeado */

  /* Otros Estilos */
  --sombra-caja: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Sombra de la caja */
  --sombra-texto: 0px 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3); /* Sombra del texto */
  --color__icono: #ffffff; /* Color de los íconos */
  --color__icono-hover: #00ffcc; /* Color al pasar sobre los íconos */
}

.color__primario {
  color: var(--color-primario);
}

.color__secundario {
  color: var(--color-secundario);
}

.color__terciario {
  color: var(--color-terciario);
}

.fondo__primario {
  background-color: var(--fondo-primario);
}

.fondo__secundario {
  background-color: var(--fondo-secundario);
}

.fondo__terciario {
  background-color: var(--fondo-terciario);
}

/* Estilos para mostrar variables */
.variable-display {
  margin: var(--padding-principal); /* Espaciado entre secciones */
}

.variable-display__item {
  padding: var(--padding-principal); /* Relleno interno */
  border: var(--borde-principal); /* Borde de la caja */
  border-radius: var(--borde-redondeado); /* Bordes redondeados */
  box-shadow: var(--sombra-caja); /* Sombra de la caja */
  background-color: var(--fondo-secundario); /* Fondo de la caja */
  color: var(--texto-principal); /* Color del texto */
  margin-bottom: var(--padding-principal); /* Espacio entre secciones */
}

.variable-display__item span {
  display: block;
  margin-bottom: var(--padding-principal); /* Espacio entre líneas */
  font-family: var(--fuente-util); /* Fuente para el código */
  font-size: var(--tamano-texto-pequeno); /* Tamaño de fuente del código */
}

.variable-display__item code {
  font-family: var(--fuente-util); /* Fuente para el código */
  background-color: var(--fondo-terciario); /* Fondo del código */
  color: var(--texto-secundario); /* Color del código */
  padding: var(--padding-principal); /* Relleno interno del código */
  border-radius: var(--borde-redondeado); /* Bordes redondeados del código */
}

.imagen__logo,
.imagen__icono {
  display: block;
  margin-bottom: var(--padding-principal); /* Espaciado entre imágenes */
}

.imagen__logo {
  width: var(--logo-width); /* Ancho del logo */
  height: var(--logo-height); /* Alto del logo */
  background-image: var(--logo-url); /* Imagen de fondo para el logo */
  background-size: cover; /* Ajustar imagen de fondo */
}

.imagen__icono {
  width: var(--icono-width); /* Ancho del ícono */
  height: var(--icono-height); /* Alto del ícono */
  background-image: var(--icono-url); /* Imagen de fondo para el ícono */
  background-size: cover; /* Ajustar imagen de fondo */
}

.caja-color,
.caja-imagen {
  width: 100px; /* Ancho fijo para las cajas de color e imagen */
  height: 100px; /* Alto fijo para las cajas de color e imagen */
  margin-bottom: var(--padding-principal); /* Espaciado entre cajas */
}

.caja-color {
  background-color: var(--color-principal); /* Fondo de la caja de color */
}

.caja-imagen {
  background-image: var(--logo-url); /* Imagen de fondo */
  background-size: cover; /* Ajustar imagen de fondo */
}

.linea-vertical {
  border-left: 2px solid var(--texto-secundario); /* Línea vertical para medidas */
  height: 3.125rem; /* Altura en rem */
  width: 1px; /* Ancho de la línea */
  margin-bottom: var(--padding-principal); /* Espaciado inferior */
}

.linea-horizontal {
  border-top: 2px solid var(--texto-secundario); /* Línea horizontal para medidas */
  width: 9.375rem; /* Ancho en rem */
  height: 1px; /* Altura de la línea */
  margin-bottom: var(--padding-principal); /* Espaciado inferior */
}

.header__titulo {
  font-size: var(--tamano-titulo); /* Tamaño del título */
  color: var(--color-principal); /* Color principal del título */
}

.header__subtitulo {
  font-size: var(--tamano-subtitulo); /* Tamaño del subtítulo */
  color: var(--color-primario); /* Color primario del subtítulo */
}

.texto__parrafo {
  font-size: var(--tamano-texto); /* Tamaño del texto */
  margin-bottom: var(--padding-principal); /* Espacio inferior del párrafo */
}

.texto__parrafo--pequeno {
  font-size: var(--tamano-texto-pequeno); /* Tamaño del texto pequeño */
  color: var(--texto-secundario); /* Color secundario del texto pequeño */
}

.caja {
  background-color: var(--fondo-secundario); /* Fondo de la caja */
  padding: var(--padding-principal); /* Relleno (padding) de la caja */
  border: var(--borde-principal); /* Borde principal de la caja */
  border-radius: var(--borde-redondeado); /* Bordes redondeados de la caja */
  box-shadow: var(--sombra-caja); /* Sombra de la caja */
}

.boton {
  background-color: var(--color-secundario); /* Fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: var(--padding-principal); /* Relleno (padding) del botón */
  border: none; /* Sin borde en el botón */
  border-radius: var(--borde-redondeado); /* Bordes redondeados del botón */
  cursor: pointer; /* Cursor en forma de mano en el botón */
}

.boton:hover {
  background-color: var(
    --color-hover
  ); /* Color de fondo al pasar el ratón (hover) */
}

.imagen__logo {
  background-image: var(--logo-url); /* Imagen de fondo para el logo */
  width: var(--logo-width); /* Ancho del logo */
  height: var(--logo-height); /* Alto del logo */
}

.imagen__icono {
  background-image: var(--icono-url); /* Imagen de fondo para el ícono */
  width: var(--icono-width); /* Ancho del ícono */
  height: var(--icono-height); /* Alto del ícono */
}
