/* Contenedor Principal */
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

/* Estilos principales y animaciones */
.animacion-palabra {
  box-sizing: border-box;
  color: var(--color-principal);
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  text-shadow: 0 0 10px var(--color-hover), 0 0 20px var(--color-hover),
    0 0 30px var(--color-hover);
  transition: transform 0.3s ease, color 0.3s ease;
  white-space: nowrap;
}

.animacion-palabra:hover {
  color: var(--color-hover);
  text-shadow: 0 0 15px var(--color-hover), 0 0 25px var(--color-hover),
    0 0 35px var(--color-hover);
  transform: scale(1.1);
}

/* Animaciones personalizadas */
@keyframes escribirInmobiliaria {
  from {
    width: 0;
  }
  to {
    width: 13ch;
  }
}

@keyframes cambiarTexto {
  from {
    content: "Inmobiliaria";
  }
  to {
    content: "InmobilIArIA IA";
  }
}

@keyframes mostrarIA {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

@keyframes agrandarIA {
  from {
    font-size: 3rem;
    transform: scale(1);
  }
  to {
    font-size: 4.5rem;
    transform: scale(1.4);
  }
}

.texto-principal {
  animation: escribirInmobiliaria 3s steps(12) 1s forwards,
    cambiarTexto 2s 5s forwards;
  display: block;
  filter: brightness(1.5);
}

.texto-resaltado {
  animation: mostrarIA 2s 7s forwards, agrandarIA 2s 9s forwards;
  display: none;
  filter: brightness(2);
  font-size: 3rem;
}

.resaltado-ia {
  color: var(--color-hover);
  font-weight: bold;
  text-shadow: 0 0 15px var(--color-hover), 0 0 25px var(--color-hover),
    0 0 35px var(--color-paleta5), 0 0 45px var(--color-hover);
  text-transform: uppercase;
  transition: transform 0.5s ease, text-shadow 0.5s ease;
}

.resaltado-ia-final {
  font-size: 4.5rem;
  text-shadow: 0 0 45px var(--color-paleta5), 0 0 55px var(--color-paleta1);
  transform: scale(1.4);
}

/* Estilos del footer */
.footer__contenedor {
  background-color: var(--fondo-principal);
  color: var(--color-principal);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;
}

.footer__seccion {
  padding: 1rem;
  width: 30%;
}

.footer__seccion h3 {
  color: var(--color-primario);
  margin-bottom: 1rem;
}

.footer__redes img {
  margin-right: 1rem;
  transition: transform 0.3s ease;
  width: 32px;
}

.footer__redes img:hover {
  transform: scale(1.2);
}
