@import url("utilidades/utilidades.css");

:root {
  /* Variables para Imágenes */
  --altura-completa: 100%;
  --altura-contenido: 70rem;
  --altura-grande: 80vh;
  --altura-mediano: 60vh;
  --altura-minima: 20vh;
  --altura-navbar: 1.5rem;
  --altura-reducido: 40vh;
  --ancho-completo: 100%;
  --ancho-contenido: 70rem;
  --ancho-grande: 75%;
  --ancho-maximo: 90%;
  --ancho-mediano: 50%;
  --ancho-menu: 100%;
  --ancho-minimo: 10%;
  --ancho-reducido: 25%;
  --borde-estandar: 1rem;
  --borde-extra-grande: 3rem;
  --borde-extra-reducido: 0.0625rem;
  --borde-fino: 0.5px solid #bdc3c7; /* Borde fino */
  --borde-grande: 2rem;
  --borde-principal: 1.5px solid #dcdcdc; /* Borde principal */
  --borde-redondeado: 10px; /* Borde redondeado */
  --borde-reducido: 0.5px solid var(--color10); /* Borde fino */
  --borde: 1px solid #0ff; /* Borde principal */
  --color1: hsl(210, 10%, 96%); /* Blanco lunar */
  --color2: hsl(225, 15%, 85%); /* Gris claro lunar */
  --color3: hsl(230, 20%, 70%); /* Gris piedra lunar */
  --color4: hsl(240, 25%, 60%); /* Gris azulado lunar */
  --color5: hsl(245, 30%, 50%); /* Azul noche lunar */
  --color6: hsl(250, 35%, 40%); /* Azul oscuro lunar */
  --color7: hsl(255, 40%, 30%); /* Azul profundo lunar */
  --color8: hsl(260, 45%, 20%); /* Azul medianoche lunar */
  --color9: hsl(265, 50%, 15%); /* Gris oscuro lunar */
  --color10: hsl(270, 55%, 10%); /* Negro lunar */
  --colorhover: #00ffff;
  --fondo-hover: #00ffff55; /* Color de hover */
  --colormenu: #00ffffb0;

  --color-primario: #0ff5;
  --color-principal: #0ff;
  --color-secundario: #0077b6;
  --color-subtitulo: #0ffa;
  --color-terciario: #f5d223;
  --color-texto: #f5d223;
  --color-titulo-grande: #fbd205;
  --color-titulo: #f5d223;

  --color_mercurio: hsl(30, 10%, 50%);
  --color_venus: hsl(33, 80%, 60%);
  --color_tierra: hsl(205, 75%, 50%);
  --color_marte: hsl(10, 80%, 50%);
  --color_jupiter: hsl(30, 60%, 55%);
  --color_saturno: hsl(40, 70%, 70%);
  --color_urano: hsl(170, 75%, 70%);
  --color_neptuno: hsl(210, 80%, 55%);

  --color__icono-hover: #00ffcc; /* Color al pasar sobre los íconos */
  --color__icono: #ffffff; /* Color de los íconos */
  --espaciado-entre-lineas: 1.6; /* Espaciado entre líneas */
  --fondo-primario: #fff5; /* Fondo principal */
  --fondo-principal: hsl(245, 30%, 50%); /* Fondo principal */
  --fondo-secundario: #a5a500; /* Fondo secundario */
  --fondo-terciario: #adad0022; /* Fondo terciario */
  --fuente-principal: "Montserrat", sans-serif; /* Fuente principal */
  --fuente-primaria: "Roboto Condensed", sans-serif; /* Fuente principal */
  --fuente-secundaria: "Roboto", sans-serif; /* Fuente principal */
  --fuente-terciaria: "Montserrat", sans-serif; /* Fuente principal */
  --fuente-util: "Courier New", monospace; /* Fuente utilitaria */
  --icono-height: 1.5rem; /* Alto del ícono en rem (24px) */
  --icono-width: 1.5rem; /* Ancho del ícono en rem (24px) */
  --logo-height: 3.125rem; /* Alto del logo en rem (50px) */
  --logo-url: url("../assets/body.webp"); /* URL del logo */
  --logo-width: 9.375rem; /* Ancho del logo en rem (150px) */
  --margen-extra-grande: 4rem;
  --margen-extra-reducido: 0.25rem;
  --margen-grande: 2rem;
  --margen-mediano: 1.5rem;
  --margen-principal: 1.5rem; /* Margen principal */
  --margen-reducido: 1rem;
  --margen: 1.5rem; /* Margen principal */
  --medida-subtitulo: 1.3rem;
  --medida-texto-extra-grande: 2rem;
  --medida-texto-extra-reducido: 0.5rem;
  --medida-texto-grande: 1.4rem;
  --medida-texto-mediano: 0.8rem;
  --medida-texto-reducido: 0.6rem;
  --medida-texto: 1.1rem;
  --medida-titulo-extra-grande: 4.5rem;
  --medida-titulo-extra-reducido: 0.5rem;
  --medida-titulo-grande: 2.6rem;
  --medida-titulo: 3rem;
  --padding-principal: 1rem; /* Relleno (padding) principal */
  --padding: 1rem; /* Relleno (padding) principal */
  --relleno-extra-grande: 2rem;
  --relleno-extra-reducido: 0.25rem;
  --relleno-grande: 1.5rem;
  --relleno-reducido: 0.5rem;
  --relleno: 1rem;
  --sombra-1: 1px 1px 0;
  --sombra-2: 2px 2px 0;
  --sombra-3: 3px 3px 0;
  --sombra-4: 4px 4px 0;
  --sombra-caja: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Sombra de la caja */
  --sombra-texto: 0px 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3); /* Sombra del texto */
  --tamano-subtitulo: 1.4rem; /* Tamaño del subtítulo */
  --tamano-subtitulo: 1.5rem; /* Tamaño del subtítulo */
  --tamano-texto-pequeno: 0.85rem; /* Tamaño del texto pequeño */
  --tamano-texto-pequeno: 0.875rem; /* Tamaño del texto pequeño */
  --tamano-texto: 0.9rem; /* Tamaño del texto */
  --tamano-texto: 1rem; /* Tamaño del texto */
  --tamano-titulo: 1.6rem; /* Tamaño del título */
  --tamano-titulo: 2rem; /* Tamaño del título */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: var(--logo-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--fuente-principal);
  color: var(--color-texto);

  padding: 0;
}

header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.Encabezado {
  background: linear-gradient(
    70deg,
    var(--color1),
    var(--color10),
    var(--color2)
  );
  opacity: 0.8;
}
/* Header y navegación */
/* Header */
/* Header */
.header {
  position: fixed;
  height: 2.5rem;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Esto separa el título y la navegación */
  align-items: center;
  border: 1.5px solid var(--color2);
  background: linear-gradient(
    70deg,
    var(--color1),
    var(--color10),
    var(--color2),
    var(--color10),
    var(--color3)
  );
  color: var(--color-titulo-grande);

  z-index: 1000;
  margin-bottom: 2.5rem;
}

/* Navegación del Submenú */
.submenu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Hero */
.Hero {
  background: linear-gradient(
    70deg,
    var(--color1),
    var(--color10),
    var(--color2),
    var(--color10),
    var(--color3)
  );
  opacity: 0.7;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.Hero img {
  padding: 1rem;
  max-width: 100%;
  max-height: 100vh;

  object-fit: cover;
}

/* Ajustes pdara evitar que el contenido principal se superponga con el header */
main {
  background-color: #0001;
  display: flex;
  flex-flow: column wrap;
  margin-top: 2.5rem; /* Ajusta según la altura de tu header */
  padding-top: 1rem; /* Espacio para el header fijo */
}
section {
  width: 100%;
  height: 80%;
  margin-top: 2.5rem;
}
/* Usar la fuente 'Honk' con un gradiente */
h1 {
  margin: 2px;
  font-family: "Honk", sans-serif;
  font-size: 2rem; /* Ajusta el tamaño de la fuente */
}
h2 {
  background: linear-gradient(
    70deg,
    var(--color1),
    var(--color10),
    var(--color2),
    var(--color10),
    var(--color3)
  );
  font-family: "Kalnia Glaze", serif;
  font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
  text-align: center;
}

#contenedor_3d {
  background: linear-gradient(
    70deg,
    var(--color1),
    var(--color10),
    var(--color2),
    var(--color10),
    var(--color3)
  );
  display: flex;
}
/* Un ejemplo de gradiente en un párrafo */
p {
  font-family: "Honk", sans-serif;
  font-size: 1rem;
  background: linear-gradient(
    180deg,
    var(--color-principal)
  ); /* Gradiente de verde a amarillo */
  -webkit-background-clip: text;
}

/* Sección del juego */
.menu__juego {
  text-align: center;
  margin-top: var(--margen-grande);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.juego__area {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  margin-top: var(--margen-mediano);
}

.juego__contenedor {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: flex-start;
  border: 2px dashed var(--color1);
  padding: 0;
  min-height: 15rem;

  border-radius: var(--borde-mediano);
  color: var(--colortexto);
  font-size: 0.7rem;
}

/* Gradientes */
.gradiente1 {
  background: linear-gradient(135deg, var(--color1), var(--color4));
}

.gradiente2 {
  background: linear-gradient(135deg, var(--color2), var(--color5));
}

.gradiente3 {
  background: linear-gradient(135deg, var(--color3), var(--color6));
}

.gradiente4 {
  background: linear-gradient(15deg, var(--color4), #0ff5);
}

.gradiente5 {
  background: linear-gradient(135deg, var(--color5), #0ffa);
}

menu {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(
      135deg,
      rgba(241, 186, 230, 0.376),
      rgba(0, 200, 200, 0.1)
    ),
    url("../assets/img/productos/4.png") no-repeat center center;
  background-size: cover;
}

.neon-lights h1,
.neon-lights p {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.7), 0 0 20px rgba(255, 0, 255, 0.5),
    0 0 30px rgba(255, 255, 0, 0.3);
  animation: neonGlow 1.5s infinite alternate;
}

@keyframes neonGlow {
  from {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
      0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
  }
  to {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1),
      0 0 30px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 0.5);
  }
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  animation: twinkling 200s linear infinite;
}

.stars:before,
.stars:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: transparent;
  box-shadow: 0 0 5px #fff, 20px 30px 10px #ffff00, 50px 100px 5px #ff007f,
    100px 200px 20px #ff00ff;
  animation: twinkling 200s linear infinite;
}

@keyframes twinkling {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-100px) translateX(-100px);
  }
}

.producto .agregado {
  display: flex;
}
#contadorIngredientes {
  font-size: 0.6rem;
}
.tarjeta-dorada {
  background-image: linear-gradient(
    to right,
    #f6e271,
    /* Dorado claro */ #f6e27af9,
    /* Dorado oscuro */ #f6e27aaa,
    /* Dorado pálido */ #f6e27a22,
    /* Dorado oscuro */ #d4af37aa,
    /* Dorado oscuro */ #f0c674 /* Dorado claro */
  );
  border-radius: 1.5rem;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Sombra */
  text-align: center;
}

.tarjeta-dorada h3 {
  background-image: linear-gradient(
    to right,
    #f0c674,
    /* Blanco plateado */ #f0f0f0f0,
    /* Blanco puro */ #f0c674 /* Blanco plateado */
  );
  color: #d4af37; /* Color dorado para el texto */
  border-radius: 0.5rem;
}

.tarjeta-dorada p {
  background-image: linear-gradient(
    to right,
    #f6e27afa,
    /* Blanco plateado */ #f0f0f05f,
    /* Blanco puro */ #f6e27a22 /* Blanco plateado */
  );
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: linear-gradient(
    to right,
    #f6e271,
    #f6e27a,
    #f6e27a,
    #f6e27a,
    #d4af37,
    #f0c674
  );

  animation: twinkle 5s infinite alternate;
}

@keyframes twinkle {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-100vh);
  }
}

.color_mercurio {
  background-color: hsl(30, 10%, 50%);
}

.color_venus {
  background-color: hsl(33, 80%, 60%);
  opacity: 0.6;
}

.color_tierra {
  background-color: hsl(205, 75%, 50%);
  opacity: 0.6;
}

.color_marte {
  background-color: hsl(10, 80%, 50%);
  opacity: 0.6;
}

.color_jupiter {
  background-color: hsl(30, 60%, 55%);
  opacity: 0.6;
}

.color_saturno {
  background-color: hsl(40, 70%, 70%);
  opacity: 0.8;
}

.color_urano {
  background-color: hsl(170, 75%, 70%);
  opacity: 0.8;
}

.color_neptuno {
  background-color: hsl(210, 80%, 55%);
  opacity: 0.8;
}

.enlace {
  font-size: 0.8rem;
  font-family: var(--fuente-secundaria);
  text-decoration: none; /* Eliminar subrayado predeterminado */
  color: var(--color-terciario); /* Color del texto del enlace */

  position: relative; /* Para el posicionamiento del subrayado */

  transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.enlace::after {
  content: "⋯"; /* Pseudo-elemento para el subrayado */
  position: absolute; /* Posicionamiento absoluto */
  left: 0;
  bottom: 0;
  height: 2px; /* Altura del subrayado */
  width: 100%; /* Ancho del subrayado */

  transform: scaleX(0); /* Ocultar subrayado inicialmente */
  transition: transform 0.7s ease; /* Transición suave */
}

.enlace:hover::after,
.enlace.activo::after {
  transform: scaleX(
    1.1
  ); /* Mostrar subrayado al pasar el mouse o estar activo */
}

/* Efecto hover */
.enlace:hover {
  background-color: var(
    --color-terciario
  ); /* Fondo más oscuro al pasar el mouse */
  color: var(--fondo-terciario); /* Cambiar color del texto al pasar el mouse */
}

.enlace:hover::after {
  background: var(--fondo-hover); /* Cambiar color del subrayado en hover */
}

/* Color del enlace activo */
.enlace.activo {
  background-color: var(--fondo-primario); /* Fondo del enlace activo */
}
