/* Diseño responsivo para dispositivos móviles */
@media (min-width: 600px) {
  .menu__titulo {
    font-size: var(--medida-titulo-extra-grande);
  }

  .menu__seccion-titulo {
    font-size: var(--medida-titulo);
  }

  .menu__lista li {
    display: block;
    margin-bottom: var(--margen-reducido);
  }
}
