/*************tecnologias **************/
/* Estilo para la sección de habilidades */
.section__tecnologias {
  padding: 1.5rem auto;
  transition: all 0.4s;
}

.tecnologias__grupo {
  margin: 0.5rem 0;
  text-align: center;
}

.tecnologias__title {
  margin-top: 0.5rem;
}

.contenedor__tecnologias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  text-align: center;
  padding: 0;
  gap: 1rem;
}

.tecnologias__name {
  font-size: var(--medida-texto-extra-reducido), 10px;
  position: relative;
  display: flex;
  flex: 0 1 auto;
  perspective: 1000px;
  /* Establece una perspectiva para el efecto 3D */
  transition: all 0.4s;
}

.tecnologias__name:hover {
  transform: scale(1.2);
  transition: all 0.4s;
  background-color: var(--color-hover);
  color: var(--color-paleta6);
  /* Aumenta el tamaño al pasar el mouse */
}

.tecnologias__name img {
  height: 4rem;
  /* Tamaño fijo para las imágenes */
  margin-bottom: 0.2rem;
  object-fit: contain;
  width: 4rem;
  border: 2px solid var(--color-hover);
  border-radius: 6px;
  /* Tamaño fijo para las imágenes */
}

.tecnologias__name p {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(36, 10, 122, 0.5);
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 5px;
  width: 8rem;
  /* Ajusta el ancho según sea necesario */
  text-align: center;
}

.tecnologias__name:hover img {
  transform: rotateY(180deg);
  /* Voltea la imagen en el eje Y al hacer hover */
}

.tecnologias__name:hover p {
  display: block;
  /* Muestra la descripción al hacer hover */
}
