.tarjetas__contenedor {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 20px 0;
  text-align: center;
}

.tarjeta__kpi {
  border: 1px solid var(--color-paleta6) ddd;
  border-radius: 7px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  width: 200px;
  text-align: center;
  margin: 0.5rem;
}

.tarjeta__kpi__larga {
  border: 1px solid var(--color-paleta6) ddd;
  border-radius: 7px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
  padding: 1px;
  font-size: 1rem;
  text-align: center;
}
