/*Aninacion Hero text  */
/* 
cambios para pruebas de hero test
candel
organizaconteneros.


impl,eto gracais los readema y 
una documetnacion,

se noota la dieerfentica :)->  corbante importante para revisa
r tezto ay implmetnar esta nuev metododologia en 


 */
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("images/logo.png") no-repeat center center fixed;
	background-size: cover;
}

.letra-grande {
	font-size: 10em;
	font-weight: bold;
	color: transparent;
	background: url("images/logo.png") no-repeat center center;
	background-size: cover;
	-webkit-background-clip: text;
	background-clip: text;
}

/* Asegúrate de tener la fuente Marvel importada */
@import url("https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap");

.marvel-bold {
	font-family: "Marvel", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.contenededor_texto_hero {
	font-size: 500px;
	font-weight: bold;
	background: url("../images/logo.gif") no-repeat center;
	-webkit-background-clip: text;
	background-size: 50%;
	background-clip: text;
	opacity: 0.7;
}

.hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: black; /* Fondo para un mejor contraste */
}

.hero-content {
	position: relative;
	text-align: center;
}

.hero-text {
	font-family: var(--font-marvel);
	font-size: 10vw; /* Tamaño del texto relativo al ancho de la ventana */
	color: transparent;
	background: url("../images/logo.gif") no-repeat center center;
	background-size: cover;
	-webkit-background-clip: text;
	background-clip: text;
	animation: moveBackground 5s linear infinite;
}

@keyframes moveBackground {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100% 0;
	}
}

imagenredonda {
	overflow: hidden;
}

.imagen {
	/* Escala al hacer hover */
	transition: transform 0.3s;
}

.imagenredonda:hover .imagen {
	transform: scale(1.3);
}

.imagen:hover {
	/* Rotación 3D al hacer hover */
	transform: rotateY(180deg);
	transform-style: preserve-3d;
}

.imagen:hover {
	/* Borde redondeado y sombra al hacer hover */
	border-radius: 50%;
	box-shadow: 0px 0px 15px 15px  #00c3ff;
}

.cube {
	width: 200px;
	height: 200px;
	position: relative;
	transform-style: preserve-3d;
	animation: rotateCube 5s infinite linear;
}

.face {
	position: absolute;
	width: 200px;
	height: 200px;
	background-image: url("images/logo.png"); /* Ruta a tu imagen */
	background-size: cover;
	border: 1px solid #ccc;
}

.front {
	transform: translateZ(100px);
}
.back {
	transform: rotateY(180deg) translateZ(100px);
}
.left {
	transform: rotateY(-90deg) translateZ(100px);
}
.right {
	transform: rotateY(90deg) translateZ(100px);
}
.top {
	transform: rotateX(90deg) translateZ(100px);
}
.bottom {
	transform: rotateX(-90deg) translateZ(100px);
}

@keyframes rotateCube {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(360deg);
	}
}

h1 {
	color: #ffffff;
	text-align: center;
}

p {
	color: #ffffff;
	text-align: center;
}



body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
	overflow: hidden;
  }
  
  .stars {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	transform: rotate(-45deg);
  }
  
  .star {
	--star-color: var(--primary-color);
	--star-tail-length: 6em;
	--star-tail-height: 2px;
	--star-width: calc(var(--star-tail-length) / 6);
	--fall-duration: 9s;
	--tail-fade-duration: var(--fall-duration);
	position: absolute;
	top: var(--top-offset);
	left: 0;
	width: var(--star-tail-length);
	height: var(--star-tail-height);
	color: var(--star-color);
	background: linear-gradient(45deg, currentColor, transparent);
	border-radius: 50%;
	filter: drop-shadow(0 0 6px currentColor);
	transform: translate3d(104em, 0, 0);
	animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
	.star {
	  animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
	}
  }
  .star:nth-child(1) {
	--star-tail-length: 5.59em;
	--top-offset: 21.66vh;
	--fall-duration: 11.465s;
	--fall-delay: 4.865s;
  }
  .star:nth-child(2) {
	--star-tail-length: 6.55em;
	--top-offset: 83.55vh;
	--fall-duration: 7.247s;
	--fall-delay: 3.612s;
  }
  .star:nth-child(3) {
	--star-tail-length: 6.27em;
	--top-offset: 32.43vh;
	--fall-duration: 10.77s;
	--fall-delay: 1.942s;
  }
  .star:nth-child(4) {
	--star-tail-length: 7.15em;
	--top-offset: 75.6vh;
	--fall-duration: 11.322s;
	--fall-delay: 5.464s;
  }
  .star:nth-child(5) {
	--star-tail-length: 5em;
	--top-offset: 67.08vh;
	--fall-duration: 6.417s;
	--fall-delay: 1.661s;
  }
  .star:nth-child(6) {
	--star-tail-length: 6.47em;
	--top-offset: 7.31vh;
	--fall-duration: 6.191s;
	--fall-delay: 9.688s;
  }
  .star:nth-child(7) {
	--star-tail-length: 6.6em;
	--top-offset: 49.15vh;
	--fall-duration: 10.908s;
	--fall-delay: 0.68s;
  }
  .star:nth-child(8) {
	--star-tail-length: 5.08em;
	--top-offset: 16.91vh;
	--fall-duration: 11.261s;
	--fall-delay: 5.482s;
  }
  .star:nth-child(9) {
	--star-tail-length: 6.04em;
	--top-offset: 32.37vh;
	--fall-duration: 10.134s;
	--fall-delay: 6.749s;
  }
  .star:nth-child(10) {
	--star-tail-length: 6.61em;
	--top-offset: 74.86vh;
	--fall-duration: 8.977s;
	--fall-delay: 2.15s;
  }
  .star:nth-child(11) {
	--star-tail-length: 5.98em;
	--top-offset: 93.38vh;
	--fall-duration: 8.18s;
	--fall-delay: 0.261s;
  }
  .star:nth-child(12) {
	--star-tail-length: 6.16em;
	--top-offset: 89.44vh;
	--fall-duration: 6.738s;
	--fall-delay: 9.245s;
  }
  .star:nth-child(13) {
	--star-tail-length: 5.16em;
	--top-offset: 64.9vh;
	--fall-duration: 7.918s;
	--fall-delay: 0.957s;
  }
  .star:nth-child(14) {
	--star-tail-length: 6em;
	--top-offset: 8.14vh;
	--fall-duration: 10.335s;
	--fall-delay: 2.067s;
  }
  .star:nth-child(15) {
	--star-tail-length: 5.05em;
	--top-offset: 25.65vh;
	--fall-duration: 7.379s;
	--fall-delay: 6.507s;
  }
  .star:nth-child(16) {
	--star-tail-length: 6.39em;
	--top-offset: 33.5vh;
	--fall-duration: 10.565s;
	--fall-delay: 2.445s;
  }
  .star:nth-child(17) {
	--star-tail-length: 7.28em;
	--top-offset: 21.76vh;
	--fall-duration: 7.261s;
	--fall-delay: 4.637s;
  }
  .star:nth-child(18) {
	--star-tail-length: 6.47em;
	--top-offset: 4.53vh;
	--fall-duration: 8.218s;
	--fall-delay: 1.843s;
  }
  .star:nth-child(19) {
	--star-tail-length: 6.9em;
	--top-offset: 1.16vh;
	--fall-duration: 7.415s;
	--fall-delay: 3.424s;
  }
  .star:nth-child(20) {
	--star-tail-length: 7.32em;
	--top-offset: 73.02vh;
	--fall-duration: 6.332s;
	--fall-delay: 2.278s;
  }
  .star:nth-child(21) {
	--star-tail-length: 5.63em;
	--top-offset: 36.53vh;
	--fall-duration: 10.201s;
	--fall-delay: 6.177s;
  }
  .star:nth-child(22) {
	--star-tail-length: 5.68em;
	--top-offset: 16.48vh;
	--fall-duration: 9.578s;
	--fall-delay: 7.239s;
  }
  .star:nth-child(23) {
	--star-tail-length: 5.02em;
	--top-offset: 42.63vh;
	--fall-duration: 11.324s;
	--fall-delay: 6.373s;
  }
  .star:nth-child(24) {
	--star-tail-length: 5.58em;
	--top-offset: 62.4vh;
	--fall-duration: 6.343s;
	--fall-delay: 4.337s;
  }
  .star:nth-child(25) {
	--star-tail-length: 5.43em;
	--top-offset: 77.14vh;
	--fall-duration: 7.898s;
	--fall-delay: 9.638s;
  }
  .star:nth-child(26) {
	--star-tail-length: 5.46em;
	--top-offset: 88.62vh;
	--fall-duration: 8.087s;
	--fall-delay: 7.101s;
  }
  .star:nth-child(27) {
	--star-tail-length: 6.87em;
	--top-offset: 74.04vh;
	--fall-duration: 8.769s;
	--fall-delay: 9.037s;
  }
  .star:nth-child(28) {
	--star-tail-length: 5.09em;
	--top-offset: 54.08vh;
	--fall-duration: 9.991s;
	--fall-delay: 0.279s;
  }
  .star:nth-child(29) {
	--star-tail-length: 6.03em;
	--top-offset: 32.09vh;
	--fall-duration: 10.88s;
	--fall-delay: 3.847s;
  }
  .star:nth-child(30) {
	--star-tail-length: 5.68em;
	--top-offset: 1.49vh;
	--fall-duration: 7.726s;
	--fall-delay: 6.055s;
  }
  .star:nth-child(31) {
	--star-tail-length: 7.25em;
	--top-offset: 68.63vh;
	--fall-duration: 7.819s;
	--fall-delay: 5.639s;
  }
  .star:nth-child(32) {
	--star-tail-length: 7.06em;
	--top-offset: 83.02vh;
	--fall-duration: 6.856s;
	--fall-delay: 4.435s;
  }
  .star:nth-child(33) {
	--star-tail-length: 7.01em;
	--top-offset: 72.8vh;
	--fall-duration: 10.646s;
	--fall-delay: 0.271s;
  }
  .star:nth-child(34) {
	--star-tail-length: 6.54em;
	--top-offset: 64.64vh;
	--fall-duration: 7.62s;
	--fall-delay: 5.406s;
  }
  .star:nth-child(35) {
	--star-tail-length: 6.71em;
	--top-offset: 36.16vh;
	--fall-duration: 7.029s;
	--fall-delay: 6.689s;
  }
  .star:nth-child(36) {
	--star-tail-length: 7.45em;
	--top-offset: 29.53vh;
	--fall-duration: 7.402s;
	--fall-delay: 3.145s;
  }
  .star:nth-child(37) {
	--star-tail-length: 6.26em;
	--top-offset: 89.28vh;
	--fall-duration: 9.662s;
	--fall-delay: 8.183s;
  }
  .star:nth-child(38) {
	--star-tail-length: 5.33em;
	--top-offset: 98.05vh;
	--fall-duration: 10.903s;
	--fall-delay: 0.359s;
  }
  .star:nth-child(39) {
	--star-tail-length: 6.28em;
	--top-offset: 68.28vh;
	--fall-duration: 10.091s;
	--fall-delay: 0.872s;
  }
  .star:nth-child(40) {
	--star-tail-length: 5.28em;
	--top-offset: 19.24vh;
	--fall-duration: 9.507s;
	--fall-delay: 8.041s;
  }
  .star:nth-child(41) {
	--star-tail-length: 5.58em;
	--top-offset: 80.38vh;
	--fall-duration: 9.957s;
	--fall-delay: 8.774s;
  }
  .star:nth-child(42) {
	--star-tail-length: 6.57em;
	--top-offset: 74.11vh;
	--fall-duration: 9.342s;
	--fall-delay: 5.519s;
  }
  .star:nth-child(43) {
	--star-tail-length: 6.98em;
	--top-offset: 85.58vh;
	--fall-duration: 10.177s;
	--fall-delay: 3.775s;
  }
  .star:nth-child(44) {
	--star-tail-length: 6.81em;
	--top-offset: 97.06vh;
	--fall-duration: 8.248s;
	--fall-delay: 0.824s;
  }
  .star:nth-child(45) {
	--star-tail-length: 6.6em;
	--top-offset: 67.72vh;
	--fall-duration: 11.515s;
	--fall-delay: 3.596s;
  }
  .star:nth-child(46) {
	--star-tail-length: 6.96em;
	--top-offset: 57.16vh;
	--fall-duration: 6.367s;
	--fall-delay: 7.488s;
  }
  .star:nth-child(47) {
	--star-tail-length: 5.94em;
	--top-offset: 29.7vh;
	--fall-duration: 10.272s;
	--fall-delay: 9.11s;
  }
  .star:nth-child(48) {
	--star-tail-length: 6.28em;
	--top-offset: 77.15vh;
	--fall-duration: 7.658s;
	--fall-delay: 0.987s;
  }
  .star:nth-child(49) {
	--star-tail-length: 5.57em;
	--top-offset: 30.7vh;
	--fall-duration: 6.791s;
	--fall-delay: 8.813s;
  }
  .star:nth-child(50) {
	--star-tail-length: 5.53em;
	--top-offset: 43.02vh;
	--fall-duration: 11.046s;
	--fall-delay: 9.077s;
  }
  .star::before, .star::after {
	position: absolute;
	content: "";
	top: 0;
	left: calc(var(--star-width) / -2);
	width: var(--star-width);
	height: 100%;
	background: linear-gradient(45deg, transparent, currentColor, transparent);
	border-radius: inherit;
	animation: blink 2s linear infinite;
  }
  .star::before {
	transform: rotate(45deg);
  }
  .star::after {
	transform: rotate(-45deg);
  }
  
  @keyframes fall {
	to {
	  transform: translate3d(-30em, 0, 0);
	}
  }
  @keyframes tail-fade {
	0%, 50% {
	  width: var(--star-tail-length);
	  opacity: 1;
	}
	70%, 80% {
	  width: 0;
	  opacity: 0.4;
	}
	100% {
	  width: 0;
	  opacity: 0;
	}
  }
  @keyframes blink {
	50% {
	  opacity: 0.6;
	}
  }