/* Contenedor de las tarjetas de KPI */
.tarjetas__contenedor {
  margin: 0.2rem auto;
  padding: 0;

  display: flex;
  justify-content: center;
  gap: 0.2rem;
  flex-wrap: wrap;
  width: 100%; /* Limitar la altura al 10% del dashboard */
  font-size: 0.6rem; /* Tamaño de fuente pequeño */
}

/* Tarjetas individuales */
.tarjeta__KPI {
  border-radius: 7px;
  padding: 0.1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  height: 4rem;
  width: 22%;
}

/* Fondo con color rojo suave para el valor mínimo */
.tarjeta__minimo {
  background-color: rgba(231, 76, 60, 0.6);
}

/* Fondo normal para el valor máximo */
.tarjeta__maximo {
  background-color: rgba(46, 204, 113, 0.6);
}

/* Animaciones en hover */
.tarjeta__minimo:hover {
  transform: scale(0.8);
  box-shadow: 0 4px 8px rgba(192, 57, 43, 0.9);
}

.tarjeta__maximo:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(39, 174, 96, 0.9);
}

/* Flecha roja hacia abajo en hover del mínimo */
.tarjeta__minimo:hover::after {
  content: "↓";
  color: #e74c3c;
  font-size: 0.6rem;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Flecha verde hacia arriba en hover del máximo */
.tarjeta__maximo:hover::after {
  content: "↑";
  color: #27ae60;

  position: absolute;
  top: 5px;
  right: 8px;
}

/* Estilos del contenido KPI */
.kpi__contenido {
  display: flex;
  align-items: center;
}

.kpi__contenido i.material-icons {
  font-size: 1rem;
  color: var(--color-principal);
}

.kpi__detalles {
  display: flex;
  flex-direction: column;
}

.kpi__detalles h3 {
  color: var(--color-principal);
  font-size: 0.8rem;
}

.kpi__fila {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
}

.kpi__fila i.material-icons {
  color: var(--color-paleta2, #f39c12);
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
  .tarjeta__KPI {
    margin-bottom: 0.1rem; /* Espaciado entre las tarjetas */
  }
}

/* Ajuste para pantallas medianas (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  .tarjetas__contenedor {
    flex-wrap: wrap;
    justify-content: center;
  }

  .tarjeta__KPI {
    max-width: 45%; /* Tarjetas ocupan 45% del ancho en pantallas medianas */
  }
}
