/* Estilos generales del contenedor de las tablas y gráficos */
.tabla__contenedor,
.chart-container {
  border: 0.5px solid var(--color-hover);
  border-radius: 4px;
  padding: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

#chart1 {
  width: 98%;
}
/* Estilos para DataTables */
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
  margin-bottom: 5px;
}

.dataTables_wrapper .dataTables_paginate {
  margin-top: 5px;
  text-align: right;
}

/* Estilos mejorados para los gráficos */
.chart-container {
  max-width: 98%;
  margin: 0;
  padding: 4px;
}

canvas {
  width: 100%; /* Asegura que el canvas ocupe todo el ancho del grid */

  height: 6rem; /* Limita la altura mínima */
  border: 0.5px solid var(--color-hover, #0ff);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 255, 255, 0.8);
}

/* Ajustes para el layout responsivo */
@media (max-width: 768px) {
  .chart-container,
  .tabla__contenedor {
    padding: 4px;
  }

  th,
  td {
    padding: 10px;
  }

  canvas {
    border-radius: 6px;
  }
}

/* Personalización de las leyendas y etiquetas en las gráficas */
.chartjs-legend {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.chartjs-legend-item {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  font-size: 0.9rem;
}

.chartjs-legend-color {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
}

/* Leyenda de los gráficos */
.chartjs-legend-text {
  color: #0ff;
}
