/** @format */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* Fuentes adicionales */
.playwrite-us-trad-u {
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.roboto-condensed-con {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
}
.texto__3d {
  font-size: var(--medida-texto); /* Tamaño de fuente */
  font-weight: bold; /* Grosor de la fuente */
  color: var(--color-principal); /* Color del texto principal */
  text-shadow: 0 0 5px var(--color-paleta7),
    /* Brillo suave */ 0 0 10px var(--color-paleta1),
    /* Brillo más fuerte */ 0 0 12px var(--color-paleta2),
    /* Sombra más difusa */ 0 0 18px var(--color-paleta3),
    /* Más difusa */ 0 0 20px var(--color-paleta4); /* Sombra más lejana */

  transform: translateZ(0) rotateX(10deg) rotateY(10deg); /* Rotaciones para dar efecto 3D */

  perspective: 1000px; /* Añade profundidad a la perspectiva */
  display: inline-block; /* Necesario para aplicar transformaciones 3D correctamente */
  transition: transform 0.3s ease; /* Suaviza la transición */
}

.texto__3d:hover {
  transform: translateZ(20px) /* Eleva el texto al pasar el mouse */
    rotateX(5deg) rotateY(5deg) scale(1.05); /* Efecto de elevación y escalado */
}

.texto__3d:before {
  content: attr(data-shadow); /* Sombra adicional */
  position: absolute;
  left: 2px;
  top: 2px;
  color: var(--color-paleta4); /* Color de sombra */
  filter: blur(5px); /* Difumina la sombra */
  z-index: -1; /* Envía la sombra detrás del texto */
}

/* Clase para texto atractivo */
.texto__atractivo {
  color: var(--color-titulo); /* Color del texto */
  text-shadow: 0 0 10px var(--color-paleta1),
    /* Sombra de texto */ 0 0 20px var(--color-paleta1),
    0 0 30px var(--color-paleta2), 0 0 40px var(--color-paleta3),
    0 0 50px var(--color-paleta4), 0 0 60px var(--color-paleta4),
    0 0 70px var(--color-paleta7);
}

.texto {
  font-size: var(--medida-texto);
  text-shadow: 1px 1px 15px var(--color-paleta2),
    1px 0 25px var(--color-paleta1), 1px 1px 35px var(--color-paleta4),
    1px 1px 45px var(--color-paleta2);
  transition: all 4s ease-out;
}

.texto span {
  font-size: var(--medida-extra-grande);
  font-weight: 700;
  color: var(--color-paleta6);
}

.texto-margin {
  margin: 1rem 0;
}

.texto-padding {
  padding: 1rem;
}

.texto__justificado {
  text-align: justify;
}

/* ********** HEADINGS *********** */
.inicio__titulo {
  margin: 2rem 0;
  font-size: var(--medida-titulo);
  text-shadow: 1px 1px 15px var(--color-paleta2),
    1px 0 25px var(--color-paleta1), 1px 1px 35px var(--color-paleta2),
    1px 1px 45px var(--color-paleta4);
  transition: all 4s ease-out;
}

.inicio__titulo span {
  font-size: var(--medida-titulo-extra-grande);
  color: var(--color-paleta6);
}

.descripcion {
  color: var(--color-paleta3);
  font-size: var(--medida-texto-mediano);
  margin-bottom: var(--margen-mediano);
}

.descripcion__caja {
  margin: 0 auto;
  max-width: var(--ancho-mediano);
}

.segundotexto {
  font-size: var(--medida-texto-mediano), 1rem;
}

.subtitulo {
  color: var(--color-texto);
  flex: none;
  font-family: "Montserrat", sans-serif;
  font-size: var(--medida-subtitulo);
  margin-top: 2px;
  text-align: center;
  transition: all 0.7s ease-in-out;
}

.subtitulo:hover {
  animation: glow 1.5s infinite;
  color: var(--color-paleta2);
  font-size: var(--medida-subtitulo);
  text-shadow: 2px 2px 4px var(--color-paleta3);
  transition: all 1.5s ease-in-out;
}

.subtitulo span {
  color: var(--color-paleta4);
  font-size: var(--size-titulogrande);
  text-shadow: 1px 10px 20px rgba(154, 203, 255, 0.8);
}

.subtitulo span:hover {
  color: var(--color-paleta2);
  font-size: 2.1rem;
  text-shadow: 1px 10px 20px rgba(154, 203, 255, 0.8);
}

.subtitulo__derecho {
  align-items: center;
  display: flex;
  justify-content: right;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.subtitulo__izquierdo {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.subtitulo__derecho::before,
.subtitulo__izquierdo::after {
  background-color: var(--color-paleta4);
  content: "";
  display: block;
  text-shadow: 2px 2px 4px var(--color-paleta1);
}
.nombre {
  display: flex;
  flex-wrap: wrap;
}

.parte1,
.parte2 {
  flex: 1 1 100%;
}

/* Media query para pantallas más grandes */
@media (min-width: 600px) {
  .parte1,
  .parte2 {
    flex: 1 1 auto;
  }
}
