
.btn {
  display: inline-block;
  padding: var(--relleno-mediana) var(--relleno-grande);
  border: var(--borde-reducido) solid var(--color-paleta--principal1);
  color: var(--color-paleta--principal1);
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover,
.btn:active {
  background-color: var(--color-paleta--principal1);
  color: var(--color-texto);
}

.btn-outline {
  border-color: var(--color-paleta--principal2);
  color: var(--color-paleta--principal2);
}

.btn-outline:hover,
.btn-outline:active {
  background-color: var(--color-paleta--principal2);
  color: var(--color-texto);
}
