@import url("../variables/lib-variables_fuentes_textos_colores.css");
@import url("../variables.css");

/* Navbar header menu de navegación */
.navbar {
	align-items: center;
	background-color: transparent;
	box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
	border-radius: var(--borde-estandar);
	cursor: pointer;
	display: flex;
	height: var(--altura-navbar);
	margin: px;
	justify-content: space-between; /* Centra el menú */
	position: fixed;
	width: 99%;
}

.navbar__logo {
	left: var(--margen-mediana); /* Ajusta la posición del logo */
	position: relative;
}

.navbar__logo img {
	min-width: 2rem;
	width: 3rem;
}

.navbar__menu {
	display: flex;
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}

.navbar__menu-icon {
	display: none; /* Oculto inicialmente */
	left: var(--margen-mediana); /* Ajusta la posición del ícono del menú */
	position: absolute;
}

.navbar__menu-item a {
	border-radius: 5px; /* Bordes redondeados */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	color: var(--color-navbar);
	display: block;
	font-weight: bold;
	margin: 0 var(--margen-grande);
	position: relative;
	text-decoration: none;
}

.navbar__menu-item a:hover {
	background-color: rgba(0, 123, 255, 1);
	color: var(--color-menu__principal_secundario);
}

/* Mostrar el ícono del menú en pantallas pequeñas */
@media (max-width: 768px) {
	.navbar__menu {
		display: none; /* Oculta el menú en pantallas pequeñas */
	}
	.navbar__menu-icon {
		display: block; /* Muestra el ícono del menú */
	}
}

.contenedor-md {
	position: relative;
	margin: 0.1rem auto;
	width: calc(100% - 0.2rem); /* Ancho completo menos los márgenes */
	padding: 0 20px; /* Espacio interior */
	box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.flex__col__centro {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.enlaces-sociales-lateral--izquierda,
.enlaces-sociales-lateral--derecha {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.enlaces-sociales-lateral--izquierda {
	left: 0;
}

.enlaces-sociales-lateral--derecha {
	right: 0;
}

.icono-social {
	height: 30px;
}

.enlaces-sociales-lateral--izquierda,
.enlaces-sociales-lateral--derecha {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.enlaces-sociales-lateral--izquierda {
	left: 0;
}

.enlaces-sociales-lateral--derecha {
	right: 0;
}

.icono-social {
	height: 30px;
}
/* Ajustes responsivos */
@media (max-width: 768px) {
	.contenedor__fila,
	.contenedor__columna {
		flex-direction: column;
	}
}

/* Contenedor centrado */

/* Contenedor del video */
.video-container {
	width: 100%;
	height: 100%;
	position: relative; /* Necesario para posicionar el texto sobre el video */
	overflow: hidden; /* Asegura que el contenido no se desborde */
}
