/* Import Google Material Icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* Navbar header menu de navegación */
.navbar {
	margin: 1rem 1rem;
	width: 95%;
	position: fixed;
	background-color: #00ffffe1; /* Semi-transparente */
	background-size: 5%;
	height: var(--altura-navbar);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 2rem;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: medium;
	transition: background-color 0.8s ease;
	z-index: 1000;
}

.navbar span {
	font-size: 1.3rem;
	color: var(--color-principal-paleta2), #007bff; /* Color del texto */
	text-shadow: var(--sombra-1) var(--color-sombra-1), var(--sombra-2) var(--color-sombra-2),
		var(--sombra-3) var(--color-sombra-3), var(--sombra-4) var(--color-sombra-4); /* Sombra del texto */
	transform: translateZ(0); /* Establece un contexto de apilamiento para el texto */
}

.navbar__logo img {
	margin-top: 1rem;
	min-width: 2rem;
	width: 3.5rem;
}

.navbar__menu {
	display: flex;
	list-style-type: none;
	padding: 0;
}

.navbar__menu-item {
	background-color: rgba(4, 0, 37, 0.01);
	border-radius: 0.5rem;
	margin-left: 1rem;
}

.navbar__menu-item a {
	color: var(--color-navbar);
	text-decoration: none;
	position: relative;
	display: inline;
	/* Padding interno de los ítems */
	border-radius: 1rem; /* Bordes redondeados */
	box-shadow: var(--color-hover);
	transition: background-color 0.5s ease-in-out, color 0.7s ease-in-out, transform 0.5s ease-in-out,
		box-shadow 0.5s ease-in-out; /* Transiciones unificadas */
}

.navbar__menu-item a:hover {
	background-color: var(--color-hover);
	transform: scale(1.2);
	color: var(--color-paleta-principal7);
	box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3); /* Mayor sombra en hover */
}

.navbar__menu-item a::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0.2rem;
	display: block;
	margin-top: 0.5rem;
	right: 0;
	background: var(--color-principal-paleta5);
	transition: width 1.4s ease;
}

.navbar__menu-item a:hover::after,
.navbar__menu-item a.active::after {
	width: 100%;
	left: 0;
}

/* Icono del menú de hamburguesa */
.menu-icon {
	display: none; /* Oculto por defecto en pantallas grandes */
	flex-direction: column;
	cursor: pointer;
	margin-left: auto;
}

/* Toggle de tema (oscuro/claro) */
.theme-toggle {
	display: flex;
	align-items: center;
}

.theme-toggle i {
	font-size: 1rem;
	cursor: pointer;
	display: none;
}

.theme-toggle #light-mode-icon {
	display: block;
}

.navbar__menu-item span {
	font-size: var(--medida-texto-grande);
	line-height: var(--altura-navbar);
	vertical-align: middle;
	color: #007bff;
}

@media (max-width: 768px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		font-family: "Montserrat", sans-serif;
	}

	.navbar__logo {
		order: 1;
		margin-bottom: var(--margen-pequeno);
	}

	.menu-icon {
		display: flex; /* Mostrar en pantallas pequeñas */
		order: 2;
		margin-bottom: var(--margen-pequeno);
		margin-left: auto; /* Alinear a la derecha */
	}

	.navbar__menu {
		flex-direction: column;
		align-items: center;
		width: 100%;
		display: none;
		order: 3;
	}

	.navbar__menu.active {
		display: flex;
	}

	.navbar__menu-item {
		text-align: center;
	}

	.theme-toggle {
		justify-content: center;
		width: 100%;
	}
}
