/**
 * =============================================
 *
 * @format
 */

/* ANIMACIONES DE MOVIMIENTO */
/* ============================================= */

/* Animación para mover de izquierda a derecha */
@keyframes moverIzquierdaDerecha {
  0%,
  100% {
    left: 0;
  }
  50% {
    left: -10px;
  }
}

/* Animación para mover de derecha a izquierda */
@keyframes moverDerechaIzquierda {
  0%,
  100% {
    right: 0;
  }
  50% {
    right: -10px;
  }
}

.animacion__resplandor {
  animation: resplandor 2s infinite;
  color: var(--color-paleta5);
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0;
}

@keyframes resplandor {
  0% {
    text-shadow: 1px 1px 5px var(--color-paleta1), 0 0 10px var(--color-paleta5),
      0 0 15px #ffef00, 0 0 20px var(--color-paleta4),
      0 0 25px var(--color-paleta2), 0 0 30px var(--color-paleta5),
      0 0 35px #ffef00;
  }
  50% {
    text-shadow: 0 0 10px var(--color-paleta1), 0 0 20px var(--color-paleta1),
      0 0 30px #ffef00, 0 0 40px #ffef00, 0 0 50px var(--color-paleta2),
      0 0 60px var(--color-paleta1), 0 0 70px #ffef00;
  }
  100% {
    text-shadow: 0 0 5px var(--color-paleta1), 0 0 10px var(--color-paleta1),
      0 0 15px var(--color-paleta4), 0 0 20px var(--color-paleta4),
      0 0 25px #ffef00, 0 0 30px #ffef00, 0 0 35px var(--color-paleta4);
  }
}
