/**
 * Animación para deslizar el contenido hacia la izquierda
 *
 * @format
 */

.deslizar-izquierda {
	animation: deslizarIzquierda 1s linear forwards;
}

@keyframes deslizarIzquierda {
	0% {
		opacity: 0;
		transform: translate(10rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

/* Animación para crear un efecto de aparecer y hacer zoom */
@keyframes aparecerZoom {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* Animación para el efecto de escribir */
@keyframes escribir {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* Animación para el parpadeo del cursor */
@keyframes parpadeo-cursor {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: var(--color-paleta2);
	}
}

/* ============================================= */
/* ANIMACIONES COMPLEJAS */
/* ============================================= */

/* Animación para crear un efecto de explosión */
@keyframes explosion {
	0% {
		filter: blur(5px);
		opacity: 0;
		transform: scale(0.5);
	}
	50% {
		filter: blur(0);
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

/* Animación para crear un efecto de resplandor */
@keyframes resplandor {
	0% {
		text-shadow: 1px 1px 5px var(--color-paleta1), 0 0 10px var(--color-paleta5), 0 0 15px #ffef00, 0 0 20px var(--color-paleta4),
			0 0 25px var(--color-paleta2), 0 0 30px var(--color-paleta5), 0 0 35px #ffef00;
	}
	50% {
		text-shadow: 0 0 10px var(--color-paleta1), 0 0 20px var(--color-paleta1), 0 0 30px #ffef00, 0 0 40px #ffef00, 0 0 50px var(--color-paleta2),
			0 0 60px var(--color-paleta1), 0 0 70px #ffef00;
	}
	100% {
		text-shadow: 0 0 5px var(--color-paleta1), 0 0 10px var(--color-paleta1), 0 0 15px var(--color-paleta4), 0 0 20px var(--color-paleta4),
			0 0 25px #ffef00, 0 0 30px #ffef00, 0 0 35px var(--color-paleta4);
	}
}

/* ============================================= */
/* ANIMACIONES DE CRECIMIENTO Y REDUCCIÓN */
/* ============================================= */

/* Animación para crecer */
@keyframes crecer {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

/* Animación para reducir */
@keyframes reducir {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

/* Animación para el efecto de pulso */
@keyframes pulso {
	0%,
	100% {
		text-shadow: 0 0 5px #007bff, 0 0 10px #007bff, 0 0 15px #007bff;
	}
	50% {
		text-shadow: 0 0 10px #007bff, 0 0 15px #007bff, 0 0 20px #007bff;
	}
}

/* ============================================= */
/* TEXTOS ANIMADOS */
/* ============================================= */

/* Estilo y animaciones para el texto animado con zoom */
.texto-animado-zoom {
	animation: aparecerZoom 2s ease forwards, escribir 4s steps(30, end) 2s forwards, parpadeo-cursor 0.75s step-end infinite 6s;
	color: var(--color-paleta2);
	font-family: "Roboto", sans-serif;
	text-align: center;
	transform: scale(0.5);
	transition: text-shadow 0.5s, transform 0.5s;
}

.texto-animado-zoom:hover {
	color: var(--color-paleta4);
	text-shadow: 0px 0px 2px var(--color-paleta4), -3px -3px 2px #00ffff, 0px -3px var(--color-paleta4), -3px 1px 0 var(--color-paleta5);
	transform: scale(1.4);
}

/* ============================================= */
/* EFECTOS COMBINADOS */
/* ============================================= */

/* Estilo y animaciones combinadas */
.efectos__combinados {
	animation: aparecer 2s forwards;
	opacity: 0;
	text-align: center;
}

.efectos__combinados h2,
.efectos__combinados h3 {
	font-size: 1.6rem;
	position: relative;
}

.efectos__combinapulsodos h2 {
	animation: pulso 3s 4s infinite, moverDerechaIzquierda 8s 1s 2;
}

.efectos__combinados h3 {
	animation: pulso 5s 500ms infinite, moverIzquierdaDerecha 8s 1s 2;
}

.efectos__combinados::before,
.efectos__combinados::after {
	animation: crecer 2s 4s forwards, reducir 2s 8s forwards;
	background-color: var(--color-paleta2);
	border-radius: 50%;
	content: "";
	position: absolute;
}
.pulso {
	animation: pulso 5s 500ms infinite, moverIzquierdaDerecha 8s 1s 2;
}
.pulso::before {
	animation-delay: 0.2s;
	height: 10px;
	left: -20px;
	top: -20px;
	width: 10px;
}

.pulso::after {
	animation-delay: 0.4s;
	bottom: -20px;
	height: 10px;
	right: -20px;
	width: 10px;
}

/* Animación para aparecer */
@keyframes aparecer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* ============================================= */
/* TEXTO HERO */
/* ============================================= */

/* Importa la fuente Marvel */
@import url("https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap");

.marvel-negrita {
	font-family: "Marvel", sans-serif;
	font-weight: 700;
	font-style: normal;
}

/* Contenedor del texto Hero */
.contenedor-texto-hero {
	background: url("../images/logo.gif") no-repeat center;
	background-clip: text;
	background-size: 50%;
	font-size: 500px;
	font-weight: bold;
	opacity: 0.7;
	-webkit-background-clip: text;
}

/* Sección Hero */
.seccion-hero {
	align-items: center;
	background-color: black; /* Fondo para un mejor contraste */
	display: flex;
	height: 100vh;
	justify-content: center;
}

/* Contenido de la sección Hero */
.contenido-hero {
	position: relative;
	text-align: center;
}

/* Texto Hero con animación */
.texto-hero {
	animation: moverFondo 5s linear infinite;
	background: url("../images/logo.gif") no-repeat center center;
	background-clip: text;
	background-size: cover;
	color: transparent;
	font-family: var(--font-marvel);
	font-size: 10vw; /* Tamaño del texto relativo al ancho de la ventana */
	-webkit-background-clip: text;
}

/* Animación para mover el fondo en el texto Hero */
@keyframes moverFondo {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100% 0;
	}
}

/* ============================================= */
/* IMÁGENES ANIMADAS */
/* ============================================= */

/* Imagen redonda */

/* Animación de rotación para la imagen redonda */
@keyframes rotarImagen {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Estilo de la imagen en la sección Hero */
.imagen-seccion-hero img {
	animation: rotarImagen 5s linear infinite;
	border-radius: 50%;
	width: 100%;
}

/* ============================================= */
/* BOTONES ANIMADOS */
/* ============================================= */

/* Botón con animación y sombra */
.boton-animado {
	animation: explosion 2s infinite;
	background-color: var(--color-paleta1);
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	font-size: 1rem;
	padding: 1rem 2rem;
	position: relative;
	transition: background-color 0.3s, box-shadow 0.3s;
}

.boton-animado:hover {
	background-color: var(--color-paleta2);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
