/**
 * Botones básicos
 *
 * @format
 */

.boton {
  display: inline-block;
  padding: var(__padding); /* Usar variable para el padding del botón */
  margin: var(__margen); /* Usar variable para el margen del botón */
  font-family: var(__fuente-primaria); /* Usar fuente primaria */
  font-size: var(__tamano-texto); /* Usar tamaño de texto definido */
  color: var(__texto); /* Usar color de texto principal */
  text-align: center;
  border: none;
  border-radius: var(
    __borde-redondeado
  ); /* Usar variable para borde redondeado */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Botones con degradados */
.boton_gradiente {
  background: linear-gradient(
    45deg,
    var(__color-secundario),
    var(__color-secundario2)
  ); /* Usar colores secundarios */
}

.boton_gradiente-2 {
  background: linear-gradient(
    45deg,
    var(__color-terciario),
    var(__color-terciario2)
  ); /* Usar colores terciarios */
}

/* Efectos al pasar el ratón */
.boton_gradiente:hover {
  background: linear-gradient(
    45deg,
    var(__color-hover),
    var(__color-secundario2)
  ); /* Usar color de hover y color secundario2 */
}

.boton_gradiente-2:hover {
  background: linear-gradient(
    45deg,
    var(__color-hover),
    var(__color-terciario2)
  ); /* Usar color de hover y color terciario2 */
}

/* Botón con animación constante */
.boton_animado {
  background-color: var(__color-secundario); /* Usar color secundario */
  animation: bounce 1s infinite; /* Animación definida más abajo */
}

/* Movimiento de arriba a abajo */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* Botones adicionales con diferentes estilos */
.boton_sombra {
  background-color: var(__color); /* Usar color principal */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.boton_sombra:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}

.boton_brillo {
  background-color: var(__color-terciario); /* Usar color terciario */
  box-shadow: 0 0 10px var(__color-terciario);
}

.boton_brillo:hover {
  box-shadow: 0 0 20px var(__color-hover);
}

.boton_borde-doble {
  background-color: transparent;
  color: var(__color); /* Usar color principal */
  border: 2px solid var(__color); /* Usar color principal */
  border-radius: var(__borde-redondeado); /* Usar borde redondeado */
  position: relative;
  z-index: 1;
}

.boton_borde-doble::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid var(__color-secundario); /* Usar color secundario */
  border-radius: var(__borde-redondeado); /* Usar borde redondeado */
  z-index: -1;
}

.boton_borde-doble:hover {
  color: var(__color-blanco); /* Usar color blanco */
  background-color: var(__color); /* Usar color principal */
}

.boton_subrayado {
  background-color: transparent;
  color: var(__color-secundario); /* Usar color secundario */
  border: none;
  border-bottom: 2px solid var(__color-secundario); /* Usar color secundario */
}

.boton_subrayado:hover {
  color: var(__color-hover); /* Usar color de hover */
  border-bottom-color: var(__color-hover); /* Usar color de hover */
}

.boton_icono {
  background-color: var(__color); /* Usar color principal */
  padding-left: var(__icono-width); /* Usar ancho del icono para padding */
  position: relative;
}

.boton_icono::before {
  content: "🔥";
  position: absolute;
  left: var(__padding); /* Usar padding principal para el posicionamiento */
  top: 50%;
  transform: translateY(-50%);
  font-size: var(__tamano-subtitulo); /* Usar tamaño de subtitulo */
}

.boton_borde-gradiente {
  background-color: var(__texto); /* Usar color de texto principal */
  border: 2px solid transparent;
  border-radius: var(__borde-redondeado); /* Usar borde redondeado */
  background-image: linear-gradient(var(__texto), var(__texto)),
    linear-gradient(45deg, var(__color-secundario), var(__color-secundario2)); /* Usar colores secundarios */
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.boton_borde-gradiente:hover {
  color: var(__texto); /* Usar color de texto principal */
  background-color: var(__color-secundario); /* Usar color secundario */
}

.btn,
.btn:link,
.btn:visited {
  cursor: pointer;
  display: inline-block;
  padding: 1rem 2rem;
  color: var(__color-primary);
  border-radius: 2rem;
  border: 3px solid;
  background-color: var(__color-paleta1), blue;
  transition: all 0.9s;
}

.btn-outline:link,
.btn-outline:visited {
  border-color: var(__color-primary);
  background-color: var(__color-primary), #f0f3f6;
}

.btn-outline:hover,
.btn-outline:active {
  color: #f0f3f6;
  background-color: var(__color-primary);
}

.btn-full:link,
.btn-full:visited {
  color: var(__color-paleta2), #f0f3f6;
  background-color: var(__color-primary);
  border-color: var(__color-primary);
}

.btn-full:hover,
.btn-full:active {
  background-color: var(__color-paleta3);
  border-color: var(__color-paleta2);
}

.botonLink {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: var(__color-paleta2);
  background: linear-gradient(
    135deg,
    var(__color-paleta5),
    var(__color-paleta6),
    var(__color-paleta2),
    var(__color-paleta6)
  );
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.botonLink:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.botonLink:active {
  background-color: #004080;
  transform: scale(0.95);
}

.btn-whatsapp {
  background-color: #30bf39;
  color: #fff;
  border-radius: 100%;
  transition: background-color 0.5s;
  line-height: 70px;
  position: relative;
  display: block;
  animation: zoomBig;
  z-index: 9;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.btn-whatsapp:hover {
  background-color: #53ca5b;
}

.btn-whatsapp:after,
.btn-whatsapp:before {
  border: 2px solid #30bf39 !important;
  width: 130px !important;
  height: 130px !important;
}

/* Estilo básico para los enlaces */

/* Opción 1: Subrayado Deslizante */
.enlace__subrayado__deslizante::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(__color-paleta6);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.enlace__subrayado__deslizante:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Opción 2: Efecto de Resplandor */
.enlace__efecto__resplandor:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(__color-paleta5),
    0 0 40px var(__color-paleta5), 0 0 50px var(__color-paleta5),
    0 0 60px var(__color-paleta5), 0 0 70px var(__color-paleta5);
}

/* Opción 3: Desplazamiento de Fondo */
.enlace__desplazamiento__fondo {
  background: linear-gradient(
    to right,
    var(__color-paleta4),
    var(__color-paleta3)
  );
  background-size: 200% auto;
}

.enlace__desplazamiento__fondo:hover {
  background-position: right center;
  color: #fff;
}

/* Opción 4: Sombra de Texto */
.enlace__sombra__texto:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Opción 5: Cambio de Color de Fondo */
.enlace__cambio__fondo {
  padding: 5px 10px;
}

.enlace__cambio__fondo:hover {
  background-color: var(__color-paleta4);
  color: #fff;
}
