/**
 * Botones b谩sicos
 *
 * @format
 */

.boton {
  display: inline-block;
  padding: var(--padding); /* Usar variable para el padding del bot贸n */
  margin: var(--margen); /* Usar variable para el margen del bot贸n */
  font-family: var(--fuente-primaria); /* Usar fuente primaria */
  font-size: var(--tamano-texto); /* Usar tama帽o de texto definido */
  color: var(--texto); /* Usar color de texto principal */
  text-align: center;
  border: none;
  border-radius: var(
    --borde-redondeado
  ); /* Usar variable para borde redondeado */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Botones con degradados */
.boton_gradiente {
  background: linear-gradient(
    45deg,
    var(--color-secundario),
    var(--color-secundario2)
  ); /* Usar colores secundarios */
}

.boton_gradiente-2 {
  background: linear-gradient(
    45deg,
    var(--color-terciario),
    var(--color-terciario2)
  ); /* Usar colores terciarios */
}

/* Efectos al pasar el rat贸n */
.boton_gradiente:hover {
  background: linear-gradient(
    45deg,
    var(--color-hover),
    var(--color-secundario2)
  ); /* Usar color de hover y color secundario2 */
}

.boton_gradiente-2:hover {
  background: linear-gradient(
    45deg,
    var(--color-hover),
    var(--color-terciario2)
  ); /* Usar color de hover y color terciario2 */
}

/* Bot贸n con animaci贸n constante */
.boton_animado {
  background-color: var(--color-secundario); /* Usar color secundario */
  animation: bounce 1s infinite; /* Animaci贸n definida m谩s abajo */
}

/* Movimiento de arriba a abajo */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* Botones adicionales con diferentes estilos */
.boton_sombra {
  background-color: var(--color); /* Usar color principal */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.boton_sombra:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}

.boton_brillo {
  background-color: var(--color-terciario); /* Usar color terciario */
  box-shadow: 0 0 10px var(--color-terciario);
}

.boton_brillo:hover {
  box-shadow: 0 0 20px var(--color-hover);
}

.boton_borde-doble {
  background-color: transparent;
  color: var(--color); /* Usar color principal */
  border: 2px solid var(--color); /* Usar color principal */
  border-radius: var(--borde-redondeado); /* Usar borde redondeado */
  position: relative;
  z-index: 1;
}

.boton_borde-doble::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid var(--color-secundario); /* Usar color secundario */
  border-radius: var(--borde-redondeado); /* Usar borde redondeado */
  z-index: -1;
}

.boton_borde-doble:hover {
  color: var(--color-blanco); /* Usar color blanco */
  background-color: var(--color); /* Usar color principal */
}

.boton_subrayado {
  background-color: transparent;
  color: var(--color-secundario); /* Usar color secundario */
  border: none;
  border-bottom: 2px solid var(--color-secundario); /* Usar color secundario */
}

.boton_subrayado:hover {
  color: var(--color-hover); /* Usar color de hover */
  border-bottom-color: var(--color-hover); /* Usar color de hover */
}

.boton_icono {
  background-color: var(--color); /* Usar color principal */
  padding-left: var(--icono-width); /* Usar ancho del icono para padding */
  position: relative;
}

.boton_icono::before {
  content: "";
  position: absolute;
  left: var(--padding); /* Usar padding principal para el posicionamiento */
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--tamano-subtitulo); /* Usar tama帽o de subtitulo */
}

.boton_borde-gradiente {
  background-color: var(--texto); /* Usar color de texto principal */
  border: 2px solid transparent;
  border-radius: var(--borde-redondeado); /* Usar borde redondeado */
  background-image: linear-gradient(var(--texto), var(--texto)),
    linear-gradient(45deg, var(--color-secundario), var(--color-secundario2)); /* Usar colores secundarios */
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.boton_borde-gradiente:hover {
  color: var(--texto); /* Usar color de texto principal */
  background-color: var(--color-secundario); /* Usar color secundario */
}

.btn,
.btn:link,
.btn:visited {
  cursor: pointer;
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--color-primary);
  border-radius: 2rem;
  border: 3px solid;
  background-color: var(--color-paleta1), blue;
  transition: all 0.9s;
}

.btn-outline:link,
.btn-outline:visited {
  border-color: var(--color-primary);
  background-color: var(--color-primary), #f0f3f6;
}

.btn-outline:hover,
.btn-outline:active {
  color: #f0f3f6;
  background-color: var(--color-primary);
}

.btn-full:link,
.btn-full:visited {
  color: var(--color-paleta2), #f0f3f6;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-full:hover,
.btn-full:active {
  background-color: var(--color-paleta3);
  border-color: var(--color-paleta2);
}

.botonLink {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--color-paleta2);
  background: linear-gradient(
    135deg,
    var(--color-paleta5),
    var(--color-paleta6),
    var(--color-paleta2),
    var(--color-paleta6)
  );
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.botonLink:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.botonLink:active {
  background-color: #004080;
  transform: scale(0.95);
}

.btn-whatsapp {
  background-color: #30bf39;
  color: #fff;
  border-radius: 100%;
  transition: background-color 0.5s;
  width: 60px !important;
  height: 60px !important;
  line-height: 70px;
  position: relative !important;
  display: block;
  transform: none !important;
  z-index: 9;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.btn-whatsapp:hover {
  background-color: #53ca5b;
}

.whatsapp-fixed__icon__video-vemo-icon.btn-whatsapp i {
  font-size: 32px;
  color: #fff;
  animation: sm-shake-animation linear 1.5s infinite;
  animation-delay: 3s;
}

.rs-video .animate-border .video-vemo-icon:before {
  content: "";
  border: 2px solid #fff;
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  animation: zoomBig 3.25s linear infinite;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.rs-video .animate-border .video-vemo-icon:after {
  content: "";
  border: 2px solid #fff;
  position: absolute;
  opacity: 0;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  animation: zoomBig 3.25s linear infinite;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.btn-whatsapp:after,
.btn-whatsapp:before {
  border: 2px solid #30bf39 !important;
  width: 130px !important;
  height: 130px !important;
}

.sm-red-dot {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  margin: 0 auto;
  background: red;
  transform: scale(0);
  border-radius: 50%;
  animation-name: notificationPoint;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.quick-message {
  position: absolute;
  bottom: 4px;
  right: 88px;
  width: max-content;
  border-radius: 0;
  background: #393b39;
}

.line-up {
  opacity: 0;
  animation-name: anim-lineUp;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

.quick-message p {
  line-height: 40px;
  font-size: 15px;
  padding: 4px 16px;
  height: 40px;
  position: relative;
  color: #fff;
  margin: 0;
}

.quick-message__seta-direita:before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #393b39;
  position: absolute;
  bottom: 3px;
  right: -30px;
}

#hover-message {
  display: none;
}

.whatsapp-fixed:hover #hover-message {
  display: block;
}

@keyframes zoomBig {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
    border-width: 3px;
  }
  40% {
    opacity: 0.5;
    border-width: 2px;
  }
  65% {
    border-width: 1px;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    border-width: 1px;
  }
}

@keyframes sm-shake-animation {
  0% {
    transform: rotate(0) scale(1) skew(0.017rad);
  }
  25% {
    transform: rotate(0) scale(1) skew(0.017rad);
  }
  35% {
    transform: rotate(-0.3rad) scale(1) skew(0.017rad);
  }
  45% {
    transform: rotate(0.3rad) scale(1) skew(0.017rad);
  }
  55% {
    transform: rotate(-0.3rad) scale(1) skew(0.017rad);
  }
  65% {
    transform: rotate(0.3rad) scale(1) skew(0.017rad);
  }
  75% {
    transform: rotate(0) scale(1) skew(0.017rad);
  }
  100% {
    transform: rotate(0) scale(1) skew(0.017rad);
  }
}

@keyframes notificationPoint {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes anim-lineUp {
  from {
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Estilo b谩sico para los enlaces */

/* Opci贸n 1: Subrayado Deslizante */
.enlace__subrayado--deslizante::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-paleta6);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.enlace__subrayado--deslizante:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Opci贸n 2: Efecto de Resplandor */
.enlace__efecto--resplandor:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--color-paleta5),
    0 0 40px var(--color-paleta5), 0 0 50px var(--color-paleta5),
    0 0 60px var(--color-paleta5), 0 0 70px var(--color-paleta5);
}

/* Opci贸n 3: Desplazamiento de Fondo */
.enlace__desplazamiento--fondo {
  background: linear-gradient(
    to right,
    var(--color-paleta4),
    var(--color-paleta3)
  );
  background-size: 200% auto;
}

.enlace__desplazamiento--fondo:hover {
  background-position: right center;
  color: #fff;
}

/* Opci贸n 4: Sombra de Texto */
.enlace__sombra--texto:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Opci贸n 5: Cambio de Color de Fondo */
.enlace__cambio--fondo {
  padding: 5px 10px;
}

.enlace__cambio--fondo:hover {
  background-color: var(--color-paleta4);
  color: #fff;
}
