:root {
	/* Colores principales */
	--color-on-surface: #1a1c1e;
	--color-primary: #00629e;
	--color-secondary: #04182f;
	--color-titulo: #ffffff;
	--color-primertexto: #ffffff;
	--color-segundotexto: #9acbff;
	--color-tercertexto: #00629e;
	--color-sombratexto: #001119;
	--gradiente-azul: linear-gradient(
		18deg,
		rgba(4, 37, 78, 1) 3%,
		rgba(138, 84, 162, 1) 20%,
		rgba(89, 84, 164, 1) 60%,
		rgba(138, 213, 235, 1) 100%
	);

	/* Colores adicionales */
	--color-paleta1: #03045e;

	--color-paleta2: #0077b6;
	--color-paleta3: #00b4d8;
	--color-paleta4: #90e0ef;
	--color-paleta5: #caf0f8;
	--color-paleta6: #007bff; /* Azul vibrante */
    
	--color-negro-carbon: #222;
	--color-negro-azabache: #001119;
	--color-negro-onix: #353839;
	--color-negro-azulado: #1c1c44;


	--color-paleta7: #ff00ff; /* Magenta llamativo */
	--color-paleta8: #00ff00; /* Verde vibrante */
	--color-paleta9: #ff0000; /* Rojo intenso */
}

/* Gradientes */
.gradient-radial {
	background-color: radial-gradient(
		circle,
		#01257d,
		#04254e,
		rgba(138, 213, 235, 0.3)
	);
}

.gradient-horizontal {
	background: conic-gradient(from 0deg, #3498db, #01257d);
}

.gradient-diagonal {
	background: linear-gradient(135deg, #3498db, #01257d);
}

.diagonal-gradient {
	background: linear-gradient(135deg, #3498db, #bdc3c7);
}
.diagonal-lineal {
	background: linear-gradient(
		18deg,
		rgba(4, 37, 78, 1) 3%,
		rgba(138, 84, 162, 1) 20%,
		rgba(89, 84, 164, 1) 60%,
		rgba(138, 213, 235, 1)
	);
}
