html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	transition: all 0.9s ease-in-out;
	color: var(--color-texto);
	text-align: center;
}

html[data-theme="dark-theme"] {
	background-image: url(./images/background/bk.jpg);

	color: var(--color-texto), #ffffff;
	text-align: center;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::placeholder {
	background-color: #00ffff;
}

body[data-theme="dark-theme"] {
	background-image: url(../images/background/bk.jpg);
	font-size: var(--size-titulo);
	color: var(--color-texto), #f0f3f6;
	text-align: center;
}

/* Modo oscuro */
body.dark-mode {
	--color-activo: var(--color-menu__principal_secundario);
	--color-navbar: #00ffff;
	--color-hover: #00ffff;
	--color-menu__principal_secundario: #000;
	background-color: #000;
	color: #00ffff;
}

body {
	background-color: var(--color-paleta-principal2);
	background-image: url(../images/background/bk.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--color-titulo);
	font-family: var(--fuente-primaria), var(--fuente-secundaria);

	font-weight: 400;
	overflow-x: hidden;
	transition: background-color 0.9s, color 0.3s;
	text-align: center;
	text-shadow: 1px 1px 11px var(--color-paleta-principal6);
}

a {
	color: var(--color-texto), #ffffff;
}

span {
	color: var(--color-paleta-principal2);
	font-size: var(--medida-texto);
	font-weight: 600;
}

li {
	padding: 0;
	margin-right: var(--margen-reducida);
}

h3 {
	font-size: var(--size-tercertitulo);
}

h4 {
	font-size: var(--size-textosmall);
}

/* Estilos para las secciones del sitio web */
section {
	margin-top: 2rem;
	overflow: hidden;
	/* Oculta scrolls horizontal y vertical */
	padding: 1rem 1rem;

	background-color: transparent;
}

/* Estilos para el footer */
footer {
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
}

iframe {
	width: 100%;
	min-height: 90vh;

	margin-top: 2rem;
	overflow: hidden;
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
	transition: box-shadow 1s ease-in-out;
	background-color: transparent;
	padding: 0.5rem 0.5rem;
	border-radius: var(--borde-grande);
}
iframe::-webkit-scrollbar {
	display: none;
}

iframe:hover {
	box-shadow: 2px 2px 15px 5px rgba(0, 0, 255, 0.5), 0px 5px 1px 5px rgba(0, 0, 255, 0.3);
}

.contenedor {
	overflow: hidden;
	position: relative;
	border-radius: var(--borde-grande);
	border: 2px solid;
	color: var(--color-hover);
}

/* Elemento interno */
.elemento {
	width: 100%;
	/* Ancho del 100% del contenedor */
	height: 95vh;
	/* Altura del 100% del contenedor */
	overflow: hidden;
	/* Otros estilos que no causen scroll */
}

.container__aumentotamano {
	transition: transform 1.2s ease;
}

.container__aumentotamano:hover {
	transform: scale(1.2);
}

.container__medio {
	position: relative;
	margin: 0.1rem auto;
}

.container_flex_colum {
	display: flex;
	flex-flow: column;
}

.container_flex_colum_fstart {
	display: flex;
	flex-flow: column;
	justify-content: center;
	gap: 3rem;
}

.item2rem {
	flex: 1;
	padding: 2rem 0;
	margin: 2rem 0;
	flex-grow: 2;
	overflow: hidden;
}

.item3rem {
	flex: 1;
	padding: 3rem 0;
	margin: 3rem 0;
	flex-grow: 2;
	overflow: hidden;
}

.item_contenido {
	overflow: hidden;
	/* Oculta las barras de desplazamiento */
}

.description-box {
	animation-delay: 1s;
}

.section--hidden {
	opacity: 0;
	transform: translateY(8rem);
}

.container__padd {
	padding: 9.6rem;
}

/* Estilos para listas */

.contenedor-con-fondo {
	position: relative;
}

.contenedor-con-fondo::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5); /* Blanco con 50% de opacidad */
	z-index: -1; /* Coloca la capa detrás del contenido */
}

.mi_elemento_background_transparente {
	background-color: hsla(210, 93%, 51%, 0.3); /* Rojo con 50% de opacidad */
	position: relative;
}

.mi-mi_elemento_background_transparente::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("./images/background/bk3.jpeg");
	opacity: 0.8; /* Ajusta la opacidad según tus necesidades */
	z-index: -1; /* Coloca la capa detrás del contenido */
}

