.navbar {
    padding: 1rem;
    margin: .5rem 0;
	position: fixed;
	display: flex;
	white-space: nowrap;
	background-color: transparent;
	z-index: 1000;
	font-size:  1.5rem;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
#home{
    border: none;
}

.navbar ul {
	display: flex;
}


/* Logo */
.navbar-logo img {

max-width: 5rem;	
max-height: 5rem;  
	/* Ancho de la imagen del logo */
}



.navbar_sobre_mi span {
	color: rgba(0, 123, 255, 1), var(--color-sombratexto), #000;
}

.navbar a:hover {
	background-color: rgba(0, 123, 255, 1), var(--color-paleta2);
	color: #353839;
}

/* Secciones con dos columnas */

.proyectos,
.bi {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.column {
	flex: 1;
	margin: 1rem;
}

@media (max-width: 768px) {
	.column {
		flex: 100%;
	}
}

.menu-item {
	transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.menu-item:hover {
	background-color: #f0f0f0;
	color: #333;
	transform: translateY(-3px); /* Ejemplo de animación de elevación */
}

/* Estilos del header */
.header {
	background-color: var(--color-paleta2); /* Color de fondo del header */
	display: flex;
	align-items: center;
	padding: 1px 1px;
	position: relative;
	z-index: 1000;
}

/* Estilos del menú toggle para pantallas pequeñas */
.menu-toggle {
	display: none;
	flex-direction: column;
	cursor: pointer;
}

.menu-toggle span {
	width: 25px;
	height: 5px;
	background: white;

	transition: 0.4s;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
	.navbar ul {
		flex-direction: column;
		background: var(
			--color-paleta2
		); /* Color de fondo del menú desplegable */
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		display: none;
	}

	.navbar ul.active {
		display: flex;
	}

	.navbar li {
		margin: 5px 1px;
		max-width: 30%;
		text-align: center;
	}

	.menu-toggle {
		display: flex;
	}
}

.menu-icon {
	display: none;
	font-size: var(--size-segundotexto), 1rem;
	cursor: pointer;
}

.menu {
	list-style: none;
	display: flex;

	font-size: var(--size-textosmall), 1rem;
}

.menu li a {
	color: #fff;
	text-decoration: none;
	position: relative;
	padding: 1px 1px;
	transition: color 0.3s ease;
	width: 7rem;
	font-weight: 600;
}

.menu li a:hover::after {
	width: 100%;
	left: 0;
}

.menu li a:hover {
	background-color: rgba(0, 123, 255, 1);
}

.menu li a::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -5px;
	width: 0;
	height: 4px;
	background-color: #fff;
	transition: width 0.3s ease, left 0.8s ease;
}

.final {
	position: absolute;
	bottom: 10%; /* Ajusta el margen inferior según lo que desees */
	right: 1rem; /* Ajusta el margen derecho según lo que desees */
	background-color: var(--color-paleta6); /* Color de fondo del div */
	padding: 10px; /* Espaciado interno */
	border-radius: 5px; /* Bordes redondeados */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Sombra suave */
	opacity: 0.5;
}
.final:hover {
	opacity: 1;
	text-shadow: 1px 1px 11px var(--color-paleta6);
	color: var(--color-titulo), #fff;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sonido-hover {
	position: absolute;
	bottom: 5%; /* Ajusta el margen inferior según lo que desees */
	right: 0px;
	width: 6rem;
	margin: 0 1rem;
	height: 3rem;
	transition: background-color 1s ease-out; /* Transición suave */
}

.sonido-hover:hover {
	background-color: yellow, var(--color-paleta6);
	opacity: 1;
}

.hover-message {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20vh; /* 20% del viewport height */
	background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
	color: rgba(255, 255, 255, 0.8); /* Texto semitransparente */
	text-align: center;
	opacity: 0;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.5s ease, visibility 0.5s ease;
	z-index: 1000; /* Asegurarse de que esté encima de otros elementos */
}

.hover-message.show {
	opacity: 1; /* Totalmente visible */
	visibility: visible;
}
