/************* proyectos SECTION **************/
/* Estilo para la sección de trabajos */
/* Estilo para la sección de trabajos */

/* Contenedor principal */
#proyectos .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
	font-size: var(--size-textosmall), 5px;
}

/* Imagen principal de la sección */
#proyectos img {
	max-width: 80%;
	height: 25%;
	width: 50%;
	margin-bottom: 1rem;
}

/* Contenedor de trabajos */
.contenedor__proyectos {
	display: flex;
	flex-flow: row wrap;
	gap: 5rem;
	justify-content: center;
	height: 90vh;
	max-height: 95vh;
}
.contenedor__proyectos p {
	text-align: justify;
	font-size: var(--size-textosmall), 1rem;
}

/* Cada tarjeta de trabajo */
.work {
	flex: 1 1 calc(50% - 3rem);
	background-color: var(--color-paleta-principal2);
	border-radius: 1rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	margin: 1rem auto;
	transition: all 5s, transform 1s;
	max-height: 90vh;
	height: 70vh;
}

.work:hover {
	transform: translateY(-2rem);
	background-color: var(--color-hover);
}

/* Imagen de trabajo */

/* Título de trabajo */
.work__title {
	font-size: var(--size-segundotexto), 1rem;
	color: var(--gradiente-azul);
	margin-bottom: 10px;
	font-family: "Playwrite US Trad", serif;
}

/* Link en el trabajo */
#proyectos .link {
	font-family: "Roboto", sans-serif;
	color: var(--color-paleta-principal2);
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
	.contenedor__proyectos {
		flex-direction: column;
		align-items: center;
	}

	.work {
		flex: 1 1 100%;
		max-height: 90%;
	}
}

/* Estilos para el título centrado */
.work__title {
	text-align: center;
}

/* Estilos para la imagen con bordes (40% de ancho) */
.work__img-container {
	width: 40%;
	margin: 0 auto; /* Centra horizontalmente */
	border: 2px solid #333; /* Puedes ajustar el color y grosor del borde */
}

/* Estilos para el texto de descripción */
.work__description {
	margin-top: 1rem; /* Espacio entre la imagen y el texto */
}

/* Estilos para las habilidades (skills) */
.work__skills {
	list-style: none;
	padding-left: 0;
}

.work__skills li {
	margin-bottom: 10px;
}

